openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: |-
    Document Version 20200311

    Change History

    |Changes| Author| Date |
    |-------|-------|------|
    |LLP KYC APIs proposal(payment APIs removed for now)| Precy | 2020-02-18|
    |Change "INDIVIDUAL" to "SOLE_TRADER"| Precy | 2020-02-20|
    |Add API token rotation, Event failure strategy and Document ID return | Precy | 2020-03-11|

    Due to data security policy and requirements of China and United States, PII related Lianlian Pay API(s) are hosted both in China and United States, corresponding PII data will be store and processed within data receiving country, PII data will not be shared between two environments. None PII related API(s) will be hosted in China only. Detailed APIs and its hosting environments are:

    ![](https://raw.githubusercontent.com/wgx-precy/escrow/master/assets/images/apis_host.png)
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/escrow/v1'
    description: CN/HK Sandbox
  - url: 'https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1'
    description: US Sandbox
  - url: 'https://global-api.lianlianpay.com/escrow/v1'
    description: CN/HK Production
  - url: 'https://global-api-us.lianlianpay.com/escrow/v1'
    description: US Production
paths:
  /webhooks:
    get:
      summary: 2. Get Webhook Registration List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 200
                description: Registered webhook list
                items:
                  $ref: '#/components/schemas/Webhook'
        '500':
          description: Internal Server Error
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations. Empty list will be returned if there is no registred webhook.

        Return type is List<`Webhook`>
      tags:
        - Webhooks
    post:
      summary: 1. Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n| 108012 | Duplicate Webhook Registration |"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
      description: |-
        Register a webhook in Lianlian Pay's system. Registered webhook will be used to send events generated by Lianlian Pay's system.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Webhook callback url
                  maxLength: 64
                topic:
                  description: Webhook event topic.
                  enum:
                    - account.paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.canceled
                    - bill.expired
                    - profile.failed
                    - profile.active
                    - profile.error
                    - profile.rar.complete
                  type: string
              required:
                - url
                - topic
        description: ''
      tags:
        - Webhooks
  '/webhooks/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: 3. Get Webhook Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      tags:
        - Webhooks
    delete:
      summary: 4. Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      description: Delete a webhook registration by `webhookId`.
      tags:
        - Webhooks
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: 2. Get Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-events-eventId
      description: |-
        Get a Lianlian Pay system generated event details by `eventId`

        Return type is `Event` object
  /events:
    get:
      summary: 1. Get Event List
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total events count
                  list:
                    type: array
                    description: Event data list
                    items:
                      $ref: '#/components/schemas/Event'
                required:
                  - total
                  - list
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events. Empty list will be returned if there is no applicable events.

        Return type is List<`Event`>
      parameters:
        - schema:
            type: array
            enum:
              - account.paymentaccount.created
              - bill.funded
              - bill.paid
              - bill.canceled
              - bill.expired
              - profile.failed
              - profile.active
              - profile.error
              - profile.rar.complete
          in: query
          name: topic
          description: "Event topic defined in Lianlian Pay's system."
        - schema:
            type: integer
            default: 1
          in: query
          name: pageNum
          description: 'If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.'
        - schema:
            type: integer
            default: 20
          in: query
          name: pageSize
          description: 'If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records'
        - schema:
            type: string
            enum:
              - PROCESSING
              - SUCCESS
              - MAXIMUM_RETRIES_REACHED
            default: MAXIMUM_RETRIES_REACHED
          in: query
          name: status
          description: |-
            Event status defined in Lianlian Pay's system. One of:

            | status | description |
            |--------|-------------|
            | PROCESSING | Event is under processing |
            | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
            | MAXIMUM_RETRIES_REACHED | Callback stopped as maximum retry number reached without success. |
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: 2. Download Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: byte
                description: Byte streaming
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-documents-name
      description: "Download document file by `dcoumentId`. \n\n**This method will be hosted in both US and CN**, US profile RAR report should be downloaded via the US endpoint and CN/HK profile RAR report should be downloaded via the CN endpoint.\n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nLianlian Pay deployed hypermedia in APIs to provide additional information. For example, `profile.rar.complete` event contains the profile RAR report download API endpoint.\n\n"
  /documents:
    post:
      summary: 1. Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 510002 | Unsupported document type. |\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n"
        '500':
          description: Internal Server Error
      description: "Upload document to Lianlian Pay system. \n\n**This method will be hosted in both US and CN**, support document(s) for US profiles should be uploaded via US endpoint and supported document(s) for CN/HK profiles should be uploaded via CN endpoint. \n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nLianlian Pay system supported document types are **PDF**, **JPG**, **JPEG** and **PNG**.\n\nReturn type is `Document` object. `Document.id` should be used in other APIs if a support document is required."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name(including extension)
                  maxLength: 128
              required:
                - name
            examples: {}
        description: ''
      tags:
        - Documents
  /profiles:
    post:
      summary: 1. Create Profile
      operationId: post-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 108001 | `profileId` already exists |\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Profile data set
              properties:
                profileId:
                  type: string
                  description: Profile id from Avalara
                  maxLength: 32
                countryOfOrigin:
                  type: string
                  description: |-
                    Country of origin, one of:

                    | Value | Country/Region |
                    |-------|-------------|
                    | CN | China |
                    | HK | Hongkong|
                    | US | United States |
                  enum:
                    - CN
                    - HK
                    - US
                type:
                  type: string
                  description: |-
                    Profile type, one of

                    | Value | Description |
                    |-------|-------------|
                    | COMPANY |  Company/Entity |
                    | SOLE_TRADER| Individual/Sole Trader |
                  enum:
                    - COMPANY
                    - SOLE_TRADER
                email:
                  type: string
                  description: Profile email address
                  format: email
                  example: abc@xyz.com
                mobile:
                  type: string
                  description: Mobile number
                indicator:
                  type: string
                  description: Source system indicator
                  maxLength: 256
                kyc:
                  oneOf:
                    - description: Individual/Sole Trader data set
                      properties:
                        name:
                          type: string
                          description: Name in English
                          maxLength: 128
                        idNumber:
                          type: string
                          description: ID number
                        idFrontCopy:
                          type: string
                          description: "The ID front page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        idBackCopy:
                          type: string
                          description: "The ID back page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        address:
                          type: object
                          description: Residential Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                              maxLength: 50
                            lineTwo:
                              type: string
                              description: Address line two
                              maxLength: 100
                            city:
                              type: string
                              description: City/Town
                              maxLength: 50
                            province:
                              type: string
                              description: Province/State
                              maxLength: 50
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                              maxLength: 11
                      required:
                        - name
                        - idFrontCopy
                        - idBackCopy
                        - address
                    - description: Company data set
                      properties:
                        name:
                          type: string
                          description: Entity name in English
                          maxLength: 128
                        registrationNumber:
                          type: string
                          description: Registry Number/EIN Number
                          maxLength: 64
                        registrationCertificateCopy:
                          type: string
                          description: "The business registration certificate photocopy document id in LianlianPay's system returned by `Upload Document` API."
                          maxLength: 128
                        registrationCertificateCopyType:
                          type: string
                          enum:
                            - CERTIFICATE_OF_INCORPORATION
                            - TAX_DOCUMENT
                            - EIN_LETTER
                            - ARTICLES_OF_ASSOCIATION
                            - BUSINESS_LICENSE
                            - CERTIFICATE_OF_REGISTRATION
                          description: |-
                            **Company Certificate** type, one of:

                            | Value | Type Name |
                            |------|-------|
                            |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
                            |TAX_DOCUMENT| Tax Document|
                            |EIN_LETTER| EIN Letter|
                            |ARTICLES_OF_ASSOCIATION| Articles of Association |
                            |BUSINESS_LICENSE| Business License |
                            |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
                        address:
                          type: object
                          description: Office/Business Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                              maxLength: 50
                            lineTwo:
                              type: string
                              description: Address line two
                              maxLength: 100
                            city:
                              type: string
                              description: City/Town
                              maxLength: 50
                            province:
                              type: string
                              description: Province/State
                              maxLength: 50
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                              maxLength: 11
                        legalRepresentative:
                          type: object
                          description: Legal representative information
                          required:
                            - name
                            - idFrontCopy
                            - idBackCopy
                          properties:
                            name:
                              type: string
                              description: "Legal representative's name in English"
                              maxLength: 128
                            idNumber:
                              type: string
                              description: "Legal representative's ID number"
                            idFrontCopy:
                              type: string
                              description: "The legal representative's ID front page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                            idBackCopy:
                              type: string
                              description: "The legal representative's ID back page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                      required:
                        - name
                        - registrationNumber
                        - registrationCertificateCopy
                        - registrationCertificateCopyType
                        - address
                        - legalRepresentative
                  description: "**KYC Data Object** \n\nChoose one of the below data set:"
                  type: object
              required:
                - profileId
                - countryOfOrigin
                - type
                - email
                - mobile
                - indicator
                - kyc
        description: ''
      description: "Create a profile in Lianlian Pay's system. \n\n**This method will be hosted in both US and CN**, US profiles should be created via US endpoint, and CN/HK profiles should be created via CN endpoint.\n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nAll required supporting documents, such as `regCertificateCopy`, `idFrontImg`, `idBackImg`, etc, should be uploaded into Lianlina Pay system via **Upload Document** API before making **Create Profile** request.\n\nReturn type is `Profile` object"
      tags:
        - Profiles
  '/profiles/{profileId}':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: 2. Get Profile
      tags:
        - Profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-profiles-profileId
      description: "Get a single profile by `profileId`. \n\n**This method will be hosted in both US and CN**, US profiles can be retrieved via US endpoint and CN/HK endpoint can be retrieved via CN endpoint. Otherwise `404 resoucre not found` will be returned.  \n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nReturn type is `Profile` object"
  '/profiles/{profileId}/cancel':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    put:
      summary: 4. Cancel Profile
      operationId: put-profiles-profileId-cancel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Profile id
                  status:
                    type: string
                    description: Profile status
                    enum:
                      - CANCELED
                required:
                  - id
                  - status
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 108003 | Invalide profile. Only `INIT`, `ERROR`, `ACTIVE`, `APPROVED` profile can be canceled. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - Profiles
      description: "Approve a single profile by `profileID`. \n\n`profileId` and updated `status` will be returned"
  '/profiles/{profileId}/approve':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    put:
      summary: 3. Confirm Onboard
      operationId: put-profiles-profileId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Profile id
                  status:
                    type: string
                    description: Profile status
                    enum:
                      - APPROVED
                required:
                  - id
                  - status
        '400':
          description: |-
            Bad Request

            Possible error codes:

            | Code | Description |
            |------|-------------|
            | 108002 | Invalid profile. Only `ACTIVE` profile can be approved onboard. |
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      tags:
        - Profiles
      description: "Approve a single profile by `profileID`. \n\n`profileId` and updated `status` will be returned"
  /developers/tokens:
    parameters: []
    put:
      summary: 1. Refresh Developer Master Token
      tags:
        - Developers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  masterToken:
                    type: string
                    description: New master token
                  createTime:
                    type: string
                    format: date-time
                    example: '2019-01-01T00:00:00Z'
                    description: Master Token refreshed time
                required:
                  - developerId
                  - masterToken
                  - createTime
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-developers-token-refreshToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: Developer refresh token
              required:
                - refreshToken
      description: |-
        Refresh developer's master token with Lianlian Pay assigned refresh token. Master token can be refreshed at anytime with a valid refresh token. After refresh, previous master token will expire instantly.

        Refresh token can be updated via offline process.
components:
  schemas:
    Event:
      title: '| Event Object'
      type: object
      description: "Event object generated by Lianlian Pay's system. \n\nEvent is notified via registered webhook, and default status is `PROCESSING`. \n\nEvent status will be updated to `SUCCESS` after receiving `200` HTTP status code return from webhook url. Before success, Lianlian Pay will keep sending the event to registered webhook url every 60 minutes for 24 times in total. After all 24 retries without success, event status will then be updated to `MAXIMUM_RETRIES_REACHED`."
      x-tags:
        - Events
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        data:
          description: Event details.
          type: object
          required:
            - objectType
            - objectId
            - url
          properties:
            objectType:
              type: string
              description: |-
                Object type related to this event. One of:

                | type | description |
                |------|-------------|
                | profile | Profile object defined in Lianlian Pay's system. Get profile details by requesting `Get Profile` API|
                | bill | Bill object defined in Lianlina Pay's system. Get bill details by requesting `Get Bill` API|
                | account | Account object defined in Lianlina Pay's system. Get bill details by requesting `Get Account` API|
                | document | Document stored in Lianlina Pay's system. Get document file by requesting `Download Document` API|
              enum:
                - profile
                - account
                - bill
                - document
            objectId:
              type: string
              description: Id of the object that related in this event
            url:
              type: string
              description: "Event related API endpoint. Can be used to retrive the data object related to this event from Lianlian Pay's system. \n\nHttp method accepted is `GET`, type is `application/json`"
        createTime:
          type: string
          description: 'Event  created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        topic:
          $ref: '#/components/schemas/Event-Topic'
        status:
          type: string
          description: |-
            Event status defined in Lianlian Pay's system. One of:

            | status | description |
            |--------|-------------|
            | PROCESSING | Event is under processing |
            | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
            | MAXIMUM_RETRIES_REACHED | Callback notification stopped as maximum retrying number reached. |
          enum:
            - PROCESSING
            - SUCCESS
            - MAXIMUM_RETRIES_REACHED
        webhookURL:
          type: string
          description: Registered webhook url for this event
      required:
        - id
        - data
        - createTime
        - topic
        - status
        - webhookURL
    Event-Topic:
      type: string
      title: '| Event Topic Enumeration'
      description: |
        Lianlian Pay system event types. One of:

        | Topic | Description |
        |--------|------------|
        | account.paymentaccount.created | Payment account created in Lianlian Pay system. |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. |
        | bill.canceled | After receiving void bill request, Lianlian Pay canceled the bill. |
        | bill.expired | No funding or short funding after bill expiration date. |
        | profile.failed | Profile KYC failed, Lianlian Pay cannot provide service to this profile. |
        | profile.active | Profile KYC passed, profile active in Lianlian Pay system.  |
        | profile.error | Profile KYC error, need more information to complete Lianlian Pay KYC. Detailed information can be found in `Profile.feedback`. |
        | profile.rar.complete | Profile KYC Risk Assessment Report complete. |
      x-tags:
        - Events
    Webhook:
      title: '| Webhook Object'
      type: object
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      x-tags:
        - Webhooks
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client callback url
          maxLength: 64
        createTime:
          type: string
          description: 'Webhook registration time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        topic:
          $ref: '#/components/schemas/Event-Topic'
      required:
        - id
        - url
        - createTime
        - topic
    Document:
      title: '| Document Object'
      type: object
      description: File object in Lianlian Pay system.
      x-tags:
        - Documents
      properties:
        id:
          type: string
          description: Document id in Lianlian Pay system
          maxLength: 32
        name:
          type: string
          description: Document name
          maxLength: 128
        createTime:
          type: string
          description: 'Document create time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - id
        - name
        - createTime
    Certificate-Document-Type:
      type: string
      title: '| Certificate Document Type Enumeration'
      description: |-
        Supported **Company Certificate** type, one of:

        | Code | Value |
        |------|-------|
        |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
        |TAX_DOCUMENT| Tax Document|
        |EIN_LETTER| EIN Letter|
        |ARTICLES_OF_ASSOCIATION| Articles of Association |
        |BUSINESS_LICENSE| Business License |
        |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
      enum:
        - CERTIFICATE_OF_INCORPORATION
        - TAX_DOCUMENT
        - EIN_LETTER
        - ARTICLES_OF_ASSOCIATION
        - BUSINESS_LICENSE
        - CERTIFICATE_OF_REGISTRATION
      x-tags:
        - Profiles
    Legal-Representative:
      title: '| Legal-Representative Object'
      type: object
      description: |
        **Legal-Representative Object**
        Data set of Legal-Representative in Lianlian Pay's system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: "Legal representative's name in English"
          maxLength: 128
        idNumber:
          type: string
          description: "Legal representative's ID number"
        idFrontCopy:
          type: string
          description: "The legal representative's ID front page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
          maxLength: 32
        idBackCopy:
          type: string
          description: "The legal representative's ID back page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
          maxLength: 32
      required:
        - name
        - idFrontCopy
        - idBackCopy
    KYC-Company:
      title: '| KYC-Company Object'
      type: object
      description: |
        **KYC-Company Object**
        Data set of Company KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Entity Name in English
          maxLength: 128
        registrationNumber:
          type: string
          description: Registry Number/EIN Number
          maxLength: 128
        registrationCertificateCopy:
          type: string
          description: "The business registration certificate photocopy document id in LianlianPay's system returned by `Upload Document` API."
          maxLength: 32
        registrationCertificateCopyType:
          $ref: '#/components/schemas/Certificate-Document-Type'
        address:
          $ref: '#/components/schemas/Address'
        legalRepresentative:
          $ref: '#/components/schemas/Legal-Representative'
      required:
        - name
        - registrationNumber
        - registrationCertificateCopy
        - registrationCertificateCopyType
        - address
        - legalRepresentative
    KYC-Individual:
      title: '| KYC-Individual Object'
      type: object
      description: |
        **KYC-Individual Object**
        Data set of Individual KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Name in English
          maxLength: 128
        idNumber:
          type: string
          description: ID number
        idFrontCopy:
          type: string
          description: "The ID front page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
          maxLength: 32
        idBackCopy:
          type: string
          description: "The ID back page photocopy document id in LianlianPay's system returned by `Upload Document`API. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
          maxLength: 32
        address:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idFrontCopy
        - idBackCopy
        - address
    Region:
      title: '| Region Enumeration'
      description: |
        **Region/Country** Two and three character ISO 3166 region codes. One of:

        | Region | Description |
        |-------|-------------|
        | CN | China |
        | HK | Hongkong|
        | US | United States |
      type: string
      x-tags:
        - Other
    Profile-Type:
      title: '| Profile Type Enumeration'
      description: |-
        Profile type defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | COMPANY |  Company/Entity |
        | SOLE_TRADER | Individual/Sole Trader |
      type: string
      x-tags:
        - Profiles
    Profile-Status:
      title: '| Profile Status Enumeration'
      type: string
      description: |-
        Profile status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | UNDER_REVIEW | Profile KYC is in progress |
        | ERROR | KYC error, need aditional information to complete KYC review |
        | FAILED | KYC failed, cannot provide service |
        | ACTIVE | KYC complete, waiting for profile to be approved |
        | APPROVED| Profile approved, ready to provide VAT services |
        | CANCELED | Profile canceled, VAT service stopped |
      x-tags:
        - Profiles
    Error:
      title: '| Error Object'
      type: object
      description: Error object defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Error message '
      required:
        - code
        - message
    Address:
      title: '| Address Object'
      type: object
      description: |-
        **Address Object**
        Address data set defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        lineOne:
          type: string
          description: 'Address line 1 (e.g., street, PO Box, or company name)'
          maxLength: 50
        lineTwo:
          type: string
          description: 'Address line 2 (e.g., apartment, suite, unit, or building)'
          maxLength: 100
        city:
          type: string
          description: City/Town
          maxLength: 50
        province:
          type: string
          description: 'State, county, province, or region'
          maxLength: 50
        region:
          $ref: '#/components/schemas/Region'
        postalCode:
          type: string
          description: ZIP or postal code
          maxLength: 11
      required:
        - lineOne
        - city
        - province
        - region
        - postalCode
    Profile:
      title: '| Profile Object'
      type: object
      description: |-
        **Profile Object**
        Data set of a client customer description in Lianlian Pay system.

        <!-- theme: warning -->
        > **`feedback`**
        >
        > feedback is used when there are actions revelent to a profile that client may need to take. Such as profile KYC information updated.
        >
      x-tags:
        - Profiles
      properties:
        id:
          type: string
          description: "Profile id from Avalara's system"
          minLength: 0
          maxLength: 32
        countryOfOrigin:
          $ref: '#/components/schemas/Region'
        type:
          $ref: '#/components/schemas/Profile-Type'
        status:
          $ref: '#/components/schemas/Profile-Status'
        indicator:
          type: string
          description: Source system
          maxLength: 256
        email:
          type: string
          description: Profile email address
          format: email
          pattern: abc@xyz.com
        mobile:
          type: string
          description: Profile mobile number
        kyc:
          oneOf:
            - $ref: '#/components/schemas/KYC-Individual'
            - $ref: '#/components/schemas/KYC-Company'
          description: '**KYC Object** One of the below:'
        feedback:
          $ref: '#/components/schemas/Error'
        rarRating:
          type: string
      required:
        - id
        - countryOfOrigin
        - type
        - status
        - email
        - mobile
  securitySchemes: {}
