openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: |-
    Document Version 20200218

    Change History

    |Changes| Author| Date |
    |-------|-------|------|
    |LLP KYC APIs proposal(payment APIs removed for now)| Precy | 2020-02-18|
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/escrow/v1'
    description: Sandbox
  - url: 'https://global-api.lianlianpay.com/escrow/v1'
    description: Production
paths:
  /profiles:
    post:
      summary: 1. Create Profile
      operationId: post-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Profile data set
              properties:
                profileId:
                  type: string
                  description: Profile id from Avalara
                  maxLength: 32
                countryOfOrigin:
                  type: string
                  description: |-
                    Country of origin, one of:

                    | Value | Country/Region |
                    |-------|-------------|
                    | CN | China |
                    | HK | Hongkong|
                    | US | United States |
                  enum:
                    - CN
                    - HK
                    - US
                type:
                  type: string
                  description: |-
                    Profile type, one of

                    | Value | Description |
                    |-------|-------------|
                    | COMPANY |  Company/Entity |
                    | INDIVIDUAL | Individual/Sole Trader |
                  enum:
                    - COMPANY
                    - INDIVIDUAL
                email:
                  type: string
                  description: Merchant email address
                  format: email
                  example: abc@xyz.com
                mobile:
                  type: string
                  description: Mobile number
                indicator:
                  type: string
                  description: Source system indicator
                  maxLength: 256
                kyc:
                  oneOf:
                    - description: Individual/Sole Trader data set
                      properties:
                        name:
                          type: string
                          description: Name in English
                          maxLength: 128
                        idNumber:
                          type: string
                          description: ID number
                        idFrontCopy:
                          type: string
                          description: "Document name of the ID front page photocopy.\nSupported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        idBackCopy:
                          type: string
                          description: "Document name of the ID back page photocopy.\nSupported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        address:
                          type: object
                          description: Residential Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                            lineTwo:
                              type: string
                              description: Address line two
                            city:
                              type: string
                              description: City/Town
                            province:
                              type: string
                              description: Province/State
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                      required:
                        - name
                        - idFrontCopy
                        - address
                    - description: Company data set
                      properties:
                        name:
                          type: string
                          description: Entity name in English
                          maxLength: 128
                        registrationNumber:
                          type: string
                          description: Registry Number/EIN Number
                          maxLength: 64
                        registrationCertificateCopy:
                          type: string
                          description: Document name of business registration certificate photocopy.
                          maxLength: 128
                        registrationCertificateCopyType:
                          type: string
                          enum:
                            - CERTIFICATE_OF_INCORPORATION
                            - TAX_DOCUMENT
                            - EIN_LETTER
                            - ARTICLES_OF_ASSOCIATION
                            - BUSINESS_LICENSE
                            - CERTIFICATE_OF_REGISTRATION
                          description: |-
                            **Company Certificate** type, one of:

                            | Value | Type Name |
                            |------|-------|
                            |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
                            |TAX_DOCUMENT| Tax Document|
                            |EIN_LETTER| EIN Letter|
                            |ARTICLES_OF_ASSOCIATION| Articles of Association |
                            |BUSINESS_LICENSE| Business License |
                            |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
                        address:
                          type: object
                          description: Office/Business Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                            lineTwo:
                              type: string
                              description: Address line two
                            city:
                              type: string
                              description: City/Town
                            province:
                              type: string
                              description: Province/State
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                        legalRepresentative:
                          type: object
                          description: Legal representative information
                          required:
                            - name
                            - idFrontCopy
                          properties:
                            name:
                              type: string
                              description: "Legal representative's name in English"
                              maxLength: 128
                            idNumber:
                              type: string
                              description: "Legal representative's ID number"
                            idFrontCopy:
                              type: string
                              description: "Document name of legal representative's ID front page photocopy.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                            idBackCopy:
                              type: string
                              description: "Document name of legal representative's ID back page photocopy.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                      required:
                        - name
                        - registrationNumber
                        - registrationCertificateCopy
                        - registrationCertificateCopyType
                        - address
                        - legalRepresentative
                  description: "**KYC Data Object** \n\nChoose one of the below data set:"
                  type: object
              required:
                - profileId
                - countryOfOrigin
                - type
                - email
                - mobile
                - kyc
        description: ''
      description: |-
        Create a merchant profile in Lianlian Pay system.

        All required supporting documents, such as `regCertificateCopy`, `idFrontImg`, `idBackImg`, etc, should be uploaded into Lianlina Pay system via **Upload Document** API before making the **Create Profile** request.

        Return type is `Profile` object
      tags:
        - Profiles
  '/profiles/{profileId}':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: 2. Get Profile
      tags:
        - Profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Not Found
      operationId: get-profiles-profileId
      description: |-
        Get a single profile by `profileId`

        Return type is `Profile` object
    delete:
      summary: 4. Cancel Profile
      operationId: delete-profiles-profileId
      responses:
        '200':
          description: OK
      description: "Cancel a `ACTIVE` status profile by `profileId`. After cancellation, profile KYC periodical validation will be stopped and reserved funding will be returned. \n\nReturn type is `Profile` object."
      tags:
        - Profiles
    put:
      summary: 3. Confirm Onboard
      operationId: put-profiles-profileId
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      tags:
        - Profiles
      description: "Onboard a single profile by `profileID` and ready to provide VAT services. \n\nReturn type is `Profile` object"
  /documents:
    post:
      summary: 1. Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      description: "Upload document to Lianlian Pay system. \nAttachments can be one of the format PDF, JPEG, or PNG. To upload a multi-page image, please use the PDF data type.\n\nReturn type is `Document` object"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name
                  maxLength: 128
                size:
                  type: integer
                  description: Document file size
              required:
                - name
                - size
            examples: {}
        description: ''
      tags:
        - Documents
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: 2. Get Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Not Found
      operationId: get-documents-name
      description: |
        Download document file by `dcoumentId`

        Return type is `Document` object
  /webhooks:
    get:
      summary: 2. Get Webhook Registration List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.

        Return type is List<`Webhook`>
      tags:
        - Webhooks
    post:
      summary: 1. Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 128
                  description: Webhook registration name
                topic:
                  type: array
                  description: Webhook event topics.
                  enum:
                    - account.paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.canceled
                    - bill.expired
                    - profile.failed
                    - profile.active
                    - profile.error
                    - profile.rar.complete
                  uniqueItems: true
                  items:
                    type: string
                url:
                  type: string
                  description: Webhook callback url
              required:
                - name
                - topic
                - url
      tags:
        - Webhooks
  '/webhook/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: 3. Get Webhook Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      tags:
        - Webhooks
    put:
      summary: 4. Edit Webhook Registration
      operationId: put-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      description: |-
        Edit a webhook registration by `webhookId`, such as turn on/off webhook, update webhook callback url, update registration topics.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  description: Webhook On/Off flag
                url:
                  type: string
                  description: Webhook callback urk
                topic:
                  type: array
                  description: Webhook event topics.
                  enum:
                    - account.paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.canceled
                    - bill.expired
                    - profile.failed
                    - profile.active
                    - profile.error
                    - profile.rar.complete
                  uniqueItems: true
                  items:
                    type: string
      tags:
        - Webhooks
    delete:
      summary: 5. Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Delete a webhook registration by `webhookId`.
      tags:
        - Webhooks
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: 2. Get Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Not Found
      operationId: get-events-eventId
      description: |-
        Get a Lianlian Pay system generated event by `eventId`

        Return type is `Event` object
  /events:
    get:
      summary: 1. Get Event List
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events. If no events, empty list will be returned

        Return type is List<`Event`>
      parameters:
        - schema:
            type: array
            enum:
              - account.paymentaccount.created
              - bill.funded
              - bill.paid
              - bill.canceled
              - bill.expired
              - profile.failed
              - profile.active
              - profile.error
              - profile.rar.complete
          in: query
          name: topic
          description: Event topic defined in Lianlian Pay system.
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: 'If nonzero, skip this number of results before returning data. Used with `limit` to provide pagination for large datasets.'
        - schema:
            type: string
            default: '50'
          in: query
          name: limit
          description: 'If nonzero, return no more than this number of results. Used with `offset` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 50 records'
components:
  schemas:
    Profile:
      title: '| Profile Object'
      type: object
      description: |-
        **Profile Object**
        Data set of a client customer description in Lianlian Pay system.

        <!-- theme: warning -->
        > **`feedback`**
        >
        > feedback is used when there are actions revelent to a profile that client may need to take. Such as profile KYC information updated.
        >
      x-tags:
        - Profiles
      properties:
        id:
          type: string
          description: Profile/merchant id from client system
          minLength: 0
          maxLength: 32
        countryOfOrigin:
          $ref: '#/components/schemas/Region'
        type:
          $ref: '#/components/schemas/Profile-Type'
        status:
          $ref: '#/components/schemas/Profile-Status'
        indicator:
          type: string
          description: Source system
          maxLength: 256
        email:
          type: string
          description: Profile email address
          format: email
          pattern: abc@xyz.com
        mobile:
          type: string
          description: Profile mobile number
        kyc:
          oneOf:
            - $ref: '#/components/schemas/KYC-Individual'
            - $ref: '#/components/schemas/KYC-Company'
          description: '**KYC Object** One of the below:'
        feedback:
          $ref: '#/components/schemas/Error'
      required:
        - id
        - countryOfOrigin
        - type
        - status
        - email
        - mobile
    Address:
      title: '| Address Object'
      type: object
      description: |-
        **Address Object**
        Address data set defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        lineOne:
          type: string
          description: Address Line 1
        lineTwo:
          type: string
          description: Address Line 2
        city:
          type: string
          description: City/Town
        province:
          type: string
          description: Province/State
        region:
          $ref: '#/components/schemas/Region'
        postalCode:
          type: string
          description: Postalcde/Zipcode
      required:
        - lineOne
        - city
        - province
        - region
        - postalCode
    Error:
      title: '| Error Object'
      type: object
      description: Error object defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Error message '
      required:
        - code
        - message
    Document:
      title: '| Document Object'
      type: object
      description: File object in Lianlian Pay system.
      x-tags:
        - Documents
      properties:
        id:
          type: string
          description: Document id in Lianlian Pay system
        name:
          type: string
          description: Document name
        size:
          type: integer
          description: Document size
        createTime:
          type: string
          description: 'Document create time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - name
        - size
        - createTime
    Event:
      title: '| Event Object'
      type: object
      description: 'Event object generated during business processing in Lianlian Pay system. '
      x-tags:
        - Events
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        topic:
          $ref: '#/components/schemas/Event-Topic'
        data:
          description: Event details.
          type: object
        createTime:
          type: string
          description: 'Event created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - id
        - topic
        - data
    Event-Topic:
      type: string
      title: '| Event Topic Enumeration'
      description: |
        Lianlian Pay system event types. One of:

        | Topic | Description |
        |--------|------------|
        | account.paymentaccount.created | Payment account created in Lianlian Pay system. Return data `Account` object. |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. Return data `Bill` object.  |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. Return data `Bill` object. |
        | bill.canceled | After receiving void bill request, Lianlian Pay canceled the bill. Return data `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return data `Bill` object. |
        | profile.failed | Profile KYC failed, Lianlian Pay cannot provide service to this profile. Return data `Profile` object. |
        | profile.active | Profile KYC passed, profile active in Lianlian Pay system. Return data `Profile` object.  |
        | profile.error | Profile KYC error, need more information to complete Lianlian Pay KYC. Detailed information can be found in `Profile.feedback`. Return type `Profile` object.  |
        | profile.rar.complete | Profile KYC Risk Assessment Report complete. Return data `Document` object  |
      x-tags:
        - Events
    Webhook:
      title: '| Webhook Object'
      type: object
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      x-tags:
        - Webhooks
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client webhook url
        isEnabled:
          type: boolean
          description: Enable/disable callbacks
        type:
          type: array
          description: Event topics in Lianlian Pay system
          items:
            $ref: '#/components/schemas/Event-Topic'
        createTime:
          type: string
          description: 'Webhook registration time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        modifyTime:
          type: string
          description: 'Webhook last modified time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - id
        - url
        - isEnabled
        - type
        - createTime
    Profile-Status:
      title: '| Profile Status Enumeration'
      type: string
      description: |-
        Profile status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | UNDER_REVIEW | Profile KYC is in progress |
        | ERROR | KYC error, need aditional information to complete KYC review |
        | FAILED | KYC failed, cannot provide service |
        | ACTIVE | KYC complete, waiting for profile to be approved |
        | APPROVED| Profile approved, ready to provide VAT services |
        | CANCELED | Profile canceled, VAT service stopped |
      x-tags:
        - Profiles
    Profile-Type:
      title: '| Profile Type Enumeration'
      description: |-
        Profile type defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | COMPANY |  Company/Entity |
        | INDIVIDUAL | Individual/Sole Trader |
      type: string
      x-tags:
        - Profiles
    Region:
      title: '| Region Enumeration'
      description: |
        **Region/Country**

        One of:

        | Region | Description |
        |-------|-------------|
        | CN | China |
        | HK | Hongkong|
        | US | United States |
      type: string
      x-tags:
        - Other
    KYC-Individual:
      title: '| KYC-Individual Object'
      type: object
      description: |
        **KYC-Individual Object**
        Data set of Individual KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Name in English
        idNumber:
          type: string
          description: ID number
        idFrontCopy:
          type: string
          description: "The photocopy document name of the ID front page. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        idBackCopy:
          type: string
          description: "The photocopy document name of the ID back page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        address:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idFrontCopy
        - address
    KYC-Company:
      title: '| KYC-Company Object'
      type: object
      description: |
        **KYC-Company Object**
        Data set of Company KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Entity Name in English
        registrationNumber:
          type: string
          description: Registry Number/EIN Number
        registrationCertificateCopy:
          type: string
          description: The photocopy document name of business registration certificate
        registrationCertificateCopyType:
          $ref: '#/components/schemas/Certificate-Document-Type'
        address:
          $ref: '#/components/schemas/Address'
        legalRepresentative:
          $ref: '#/components/schemas/Legal-Representative'
      required:
        - name
        - registrationNumber
        - registrationCertificateCopy
        - registrationCertificateCopyType
        - address
        - legalRepresentative
    Legal-Representative:
      title: '| Legal-Representative Object'
      type: object
      description: |
        **Legal-Representative Object**
        Data set of Legal-Representative in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: "Legal representative's name in English"
        idNumber:
          type: string
          description: "Legal representative's ID number"
        idFrontCopy:
          type: string
          description: "The photocopy document name of legal representative's ID front page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        idBackCopy:
          type: string
          description: "The photocopy document name of legal representative's ID back page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
      required:
        - name
        - idFrontCopy
    Certificate-Document-Type:
      type: string
      title: '| Certificate Document Type Enumeration'
      description: |-
        Supported **Company Certificate** type, one of:

        | Code | Value |
        |------|-------|
        |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
        |TAX_DOCUMENT| Tax Document|
        |EIN_LETTER| EIN Letter|
        |ARTICLES_OF_ASSOCIATION| Articles of Association |
        |BUSINESS_LICENSE| Business License |
        |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
      enum:
        - CERTIFICATE_OF_INCORPORATION
        - TAX_DOCUMENT
        - EIN_LETTER
        - ARTICLES_OF_ASSOCIATION
        - BUSINESS_LICENSE
        - CERTIFICATE_OF_REGISTRATION
      x-tags:
        - Profiles
  securitySchemes: {}
