openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: ''
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'https://global-api.lianlianpay.com/escrow/v1'
    description: Production
  - url: 'https://global-api-sandbox.lianlianpay.com/escrow/v1'
    description: Sandbox
paths:
  /profiles:
    post:
      summary: 1. Create Profile
      operationId: post-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  type: string
                  description: Merchant id in client system
                  maxLength: 32
                countryOfOrigin:
                  $ref: '#/components/schemas/Region'
                type:
                  $ref: '#/components/schemas/Profile-Type'
                email:
                  type: string
                  format: email
                  description: Merchant email address
                kyc:
                  oneOf:
                    - description: '**CN Entity**'
                      properties:
                        entityName:
                          type: object
                          description: Entity name. One of
                          properties:
                            nameInEnglish:
                              type: string
                              description: Name in English or Pinyin
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        entityType:
                          $ref: '#/components/schemas/Entity-Type'
                        registryNumber:
                          type: string
                          description: Company number
                        regCertificateCopy:
                          type: string
                          description: Company liscens document name
                        legalRep:
                          type: object
                          required:
                            - name
                            - idNumber
                            - idFrontImg
                          properties:
                            name:
                              type: object
                              description: Legal Representative’s name. One of
                              properties:
                                nameInEnglish:
                                  type: string
                                  description: Name in English or Pinyin
                                originalName:
                                  type: string
                                  description: Original name(Name on ID/document)
                            idNumber:
                              type: string
                              description: Legal Representative’s id number
                            idFrontImg:
                              type: string
                              description: Legal Representative’s id front document name
                            idBackImg:
                              type: string
                              description: Legal Representative’s id back document name. Optional if id type is passport
                      required:
                        - entityName
                        - entityType
                        - registryNumber
                        - regCertificateCopy
                        - legalRep
                    - description: '**CN Individual/Sole Trander**'
                      properties:
                        name:
                          type: object
                          description: Name. One of
                          properties:
                            nameInEnglish:
                              type: string
                              description: Name in English or Pinyin
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        idNumber:
                          type: string
                          description: ID or Passport number
                        idFrontImg:
                          type: string
                          description: Id front copy or passport copy
                        idBackImg:
                          type: string
                          description: Id back copy
                      required:
                        - name
                        - idNumber
                        - idFrontImg
                        - idBackImg
                    - description: '**US Entity**'
                      properties:
                        entityName:
                          type: object
                          description: Entity name. One of
                          properties:
                            nameInEnglish:
                              type: string
                              description: Name in English or Pinyin
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        entityType:
                          $ref: '#/components/schemas/Entity-Type'
                        EINNumber:
                          type: string
                        regCertificateCopy:
                          type: string
                        regAddress:
                          $ref: '#/components/schemas/Address'
                        operatingAddress:
                          $ref: '#/components/schemas/Address'
                        legalRep:
                          type: object
                          required:
                            - name
                          properties:
                            name:
                              type: object
                              description: Legal Representative’s name. One of
                              properties:
                                nameInEnglish:
                                  type: string
                                  description: Name in English or Pinyin
                                originalName:
                                  type: string
                                  description: Original name(Name on ID/document)
                            residentialAddress:
                              $ref: '#/components/schemas/Address'
                            dateOfBirth:
                              type: string
                              description: "Legal representative's date of birth"
                            ssn:
                              type: string
                              description: Social security number
                            idFrontImg:
                              type: string
                              description: ID front copy document name
                            idBackImg:
                              type: string
                              description: ID back copy document name
                            mobile:
                              type: string
                              description: Mobile number
                        ubo:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: object
                                description: "UBO's legal name. One of"
                                properties:
                                  nameInEnglish:
                                    type: string
                                    description: Name in English or Pinyin
                                  originalName:
                                    type: string
                                    description: Original name(Name on ID/document)
                              residentialAddress:
                                $ref: '#/components/schemas/Address'
                              dateOfBirth:
                                type: string
                                description: "UBO's date of birth"
                              ssn:
                                type: string
                                description: Social Security Number
                              idFrontImg:
                                type: string
                              idBackImg:
                                type: string
                            required:
                              - name
                      required:
                        - entityName
                        - entityType
                        - EINNumber
                        - regCertificateCopy
                        - regAddress
                        - operatingAddress
                        - legalRep
                        - ubo
                    - description: '**US Individual/Sole Trader**'
                      properties:
                        name:
                          type: object
                          description: Name. One of
                          properties:
                            nameInEnglish:
                              type: string
                              description: Original name(Name on ID/document)
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        residentialAddress:
                          $ref: '#/components/schemas/Address'
                        dateOfBirth:
                          type: string
                          description: Date of birth
                        idFrontImg:
                          type: string
                          description: ID front copy document name
                        idBackImg:
                          type: string
                          description: ID back copy document name
                        mobile:
                          type: string
                          description: Mobile number
                        ssn:
                          type: string
                          description: Social security number
                      required:
                        - name
                        - residentialAddress
                        - dateOfBirth
                        - idFrontImg
                        - idBackImg
                        - mobile
                        - ssn
                    - description: '**HK Entity**'
                      properties:
                        entityName:
                          description: 'Entity name, one of'
                          type: object
                          properties:
                            nameInEnglish:
                              type: string
                              description: Name in English or Pinyin
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        entityType:
                          $ref: '#/components/schemas/Event-Type'
                        registryNumber:
                          type: string
                          description: Business registration certificate number
                        ciNumber:
                          type: string
                          description: Certificate of incorporation number
                        nnc1:
                          type: string
                          description: NNC1/NAR1
                        regCertificateCopy:
                          type: string
                          description: Copy of business registration certificate
                        incorporationCertificateCopy:
                          type: string
                          description: Copy of certificate of incorporation
                        directors:
                          type: array
                          description: Directors information
                          items:
                            type: object
                            properties:
                              name:
                                type: object
                                description: Director name. One of
                                properties:
                                  nameInEnglish:
                                    type: string
                                    description: Name in English or Pinyin
                                  originalName:
                                    type: string
                                    description: Original name(Name on ID/document)
                              idNumber:
                                type: string
                              idFrontImg:
                                type: string
                            required:
                              - name
                              - idNumber
                              - idFrontImg
                      required:
                        - entityName
                        - entityType
                        - registryNumber
                        - ciNumber
                        - nnc1
                        - regCertificateCopy
                        - incorporationCertificateCopy
                        - directors
                    - description: '**HK Individual**'
                      properties:
                        name:
                          type: object
                          description: Name. One of
                          properties:
                            nameInEnglish:
                              type: string
                              description: Name in English or Pinyin
                            originalName:
                              type: string
                              description: Original name(Name on ID/document)
                        idNumber:
                          type: string
                          description: ID Number
                        idFrontImg:
                          type: string
                          description: ID front document name
                        residentalAddress:
                          $ref: '#/components/schemas/Address'
                      required:
                        - name
                        - idNumber
                        - idFrontImg
                        - residentalAddress
                  description: '**KYC Data Object** Choose one of the following data set'
                  type: object
              required:
                - profileId
                - countryOfOrigin
                - type
                - email
                - kyc
        description: ''
      description: |-
        Create an Avalara Fiscal Rep merchant profile in Lianlian Pay system.
        All required supporting documents of a profile, such as `regCertificateCopy`, `idFrontImg`, `idBackImg`, should be uploaded into Lianlina Pay system before the create profile request.

        Return type is `Profile`
      tags:
        - Profiles
  '/profiles/{profileId}':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: 2. Get Profile
      tags:
        - Profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      operationId: get-profiles-profileId
      description: |-
        Get a single profile details by id
        Return type is `Profile`
  '/profiles/{profileId}/bills':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Bill
      operationId: post-profiles-profileId-bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique obligation bill id generated by client
                  maxLength: 64
                region:
                  $ref: '#/components/schemas/Bill-Region'
                currency:
                  $ref: '#/components/schemas/Bill-Currency'
                amount:
                  type: string
                  description: Bill amount
                period:
                  type: string
                  description: Bill period
                dueDate:
                  type: string
                  description: Bill due date
                expireDate:
                  type: string
                  description: Bill expire date
                accountNo:
                  type: string
                  description: Payee account number
                accountName:
                  type: string
                  description: Payee account name
                  maxLength: 128
                bankName:
                  type: string
                  description: Payee bank name
                  maxLength: 128
                routingNo:
                  type: string
                  description: Payee branch code
                swift:
                  type: string
                  description: SWIFT
                rfb:
                  type: string
                  maxLength: 105
                memo:
                  type: string
                  maxLength: 512
              required:
                - id
                - region
                - currency
                - amount
                - expireDate
                - accountNo
                - accountName
                - bankName
                - routingNo
                - swift
                - rfb
        description: ''
      description: |-
        Create a bill obligation for a profile
        Return type is `Bill`
      tags:
        - Bills
  '/bills/{billId}':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    get:
      summary: 2. Get Bill
      tags:
        - Bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      operationId: get-profiles-profileId-bills-billId
      description: |-
        Get a bill details by id.

        Return type is List<`Bill`>
  '/bills/{billId}/submit':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: 3. Submit Bill
      operationId: put-bills-billId-submit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      description: |-
        Submit a bill, instruct Lianlian Pay to process its payment.
        After a successful submitting, Lianlian Pay will process payment to the bill payee.

        Return type is `Bill`
      tags:
        - Bills
  '/bills/{billId}/void':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: 4. Void Bill
      operationId: put-bills-billId-void
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      description: |
        Void a unsubmitted bill by id.

        Return type is `Bill`
      tags:
        - Bills
  '/profiles/{profileId}/accounts':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Account
      operationId: post-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  $ref: '#/components/schemas/Bank-Account-Region'
                currency:
                  $ref: '#/components/schemas/Account-Currency'
                type:
                  $ref: '#/components/schemas/Account-Type'
              required:
                - region
                - currency
                - type
        description: ''
      description: |-
        Create an account for a profile
        Return type is `Account`
      tags:
        - Accounts
    get:
      summary: 2. List All Accounts
      operationId: get-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
          description: 'This API returns a list of `Account` object of a profile. If no applicable account exists, empty list will be returned. '
      description: |-
        Get a list of accounts of a profile.
        Return type is List<`Account`>
      parameters:
        - schema:
            type: string
          in: query
          name: type
          description: Account types defined in Lianlina Pay system
      tags:
        - Accounts
  '/accounts/{accountId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    get:
      summary: 3. Get Account
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      operationId: get-accounts-accountId
      description: |-
        Get a Lianlian Pay account details by account id.

        Return type is `Account`
  /documents:
    post:
      summary: 1. Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      description: "Upload document to Lianlian Pay system. \nImage attachments can be one of the format PDF, JPEG, or PNG. To upload a multi-page image, please use the PDF data type.\nReturn type is `Document`"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name
                size:
                  type: integer
                  description: Document file size
              required:
                - name
                - size
            examples: {}
        description: ''
      tags:
        - Documents
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: 2. Get Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      operationId: get-documents-name
      description: |
        Get document file by id

        Return type is `Document`
  /webhooks:
    get:
      summary: 2. List All Webhook Registrations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.
        Return type is List<`Webhook`>
      tags:
        - Webhooks
    post:
      summary: 1. Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.
        Return type is `Webhook`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                topic:
                  type: array
                  items:
                    $ref: '#/components/schemas/Event-Type'
                url:
                  type: string
                isEnabled:
                  type: boolean
              required:
                - name
                - topic
                - url
                - isEnabled
      tags:
        - Webhooks
  '/webhook/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: 3. Get Webhook Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by id.
        Return type is `Webhook`
      tags:
        - Webhooks
    put:
      summary: 4. Edit Webhook Registration
      operationId: put-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Edit a webhook registration, such as turn on/off webhook, update webhook url, update topic registrations.
        Return type is `Webhook`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: boolean
                url:
                  type: string
                topic:
                  type: array
                  items:
                    $ref: '#/components/schemas/Event-Type'
              required:
                - isEnabled
                - url
                - topic
      tags:
        - Webhooks
    delete:
      summary: 5. Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
      description: Delete a webhook registration by id.
      tags:
        - Webhooks
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: 2. Get Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
      operationId: get-events-eventId
      description: |-
        Get Lianlian Pay system generated event by id

        Return type is `Event`
  /events:
    get:
      summary: 1. List All Events
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events

        Return type is List<`Event`>
      parameters:
        - schema:
            type: string
          in: query
          name: profileId
          required: true
          description: Profile/merchant id from client system
        - schema:
            type: array
          in: query
          name: type
          description: Event type defined in Lianlian Pay system.
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: 'If nonzero, skip this number of results before returning data. Used with `limit` to provide pagination for large datasets.'
        - schema:
            type: string
            default: '50'
          in: query
          name: limit
          description: 'If nonzero, return no more than this number of results. Used with `offset` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 50 records'
components:
  schemas:
    Profile:
      title: '| Profile Object'
      type: object
      description: |-
        **Profile Object**
        Data set of a client customer description in Lianlian Pay system.

        <!-- theme: warning -->
        > **`feedback`**
        >
        > feedback is used when there are actions revelent to a profile that client may need to take. Such as profile KYC information updated.
        >
      x-tags:
        - Profiles
      properties:
        id:
          type: string
          description: Profile/merchant id from client system
          minLength: 0
          maxLength: 32
        regionOfOrigin:
          $ref: '#/components/schemas/Region-Of-Origin'
        type:
          $ref: '#/components/schemas/Profile-Type'
        kyc:
          oneOf:
            - $ref: '#/components/schemas/CN-ENTITY-KYC'
            - $ref: '#/components/schemas/US-ENTITY-KYC'
            - $ref: '#/components/schemas/CN-INDIVIDUAL-KYC'
            - $ref: '#/components/schemas/US-INDIVIDUAL-KYC'
            - $ref: '#/components/schemas/HK-INDIVIDUAL-KYC'
            - $ref: '#/components/schemas/HK-ENTITY-KYC'
          description: '**KYC Object** One of the below:'
        status:
          $ref: '#/components/schemas/Profile-Status'
        feedback:
          $ref: '#/components/schemas/Error'
        email:
          type: string
          description: Merchant email address
          format: email
          pattern: abc@xyz.com
      required:
        - id
        - regionOfOrigin
        - type
        - status
        - email
    Bill:
      title: '| Bill Object'
      type: object
      description: "**Bill Object**\nData set of a client customer’s tax obligation description in Lianlian Pay system. "
      x-tags:
        - Bills
      properties:
        id:
          type: string
          description: Bill(obligation) id from client system
          maxLength: 64
        region:
          $ref: '#/components/schemas/Bill-Region'
        currency:
          $ref: '#/components/schemas/Bill-Currency'
        amount:
          type: string
          description: bill(obligation) amount
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})$"
        period:
          type: string
          description: bill(obligation) period
          example: 2020-01
          pattern: YYYY-MM
        dueDate:
          type: string
          description: bill(obligation) due date
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        expireDate:
          type: string
          description: bill(obligation) expire date
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        payee:
          $ref: '#/components/schemas/Bank-Account-Info'
        createTime:
          type: string
          description: Bill created time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        fundingTime:
          type: string
          description: Bill funded time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        paymentTime:
          type: string
          description: Bill payment time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        status:
          $ref: '#/components/schemas/Bill-Status'
        isFunded:
          type: boolean
          description: 'Default false, true if fully funded. Ready to pay if isFullyFunded equals to true.'
        isPaid:
          type: boolean
          description: 'Default false, true if bill submitted and paid to payee.'
        modifyTime:
          type: string
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
          description: Bill last updated time
        rfb:
          type: string
          maxLength: 105
        memo:
          type: string
          maxLength: 512
      required:
        - id
        - region
        - currency
        - amount
        - expireDate
        - payee
        - status
        - isFunded
        - isPaid
    Address:
      title: '| Address Object'
      type: object
      description: |-
        **Address Object**
        Address data set defined in Lianlian Pay system.
      properties:
        lineOne:
          type: string
          description: Address Line 1
        lineTwo:
          type: string
          description: Address Line 2
        city:
          type: string
          description: City/Town
        province:
          type: string
          description: Province/State
        region:
          $ref: '#/components/schemas/Region'
        postalCode:
          type: string
          description: Postal Code/Zip Code
      required:
        - lineOne
        - city
        - province
        - region
        - postalCode
      x-tags:
        - Other
    Account:
      title: '| Account Object'
      type: object
      description: "**Account Object**\nData object to describe an account in Lianlian Pay system. \nAccount such as `Funding Account` and `Payment Account`"
      x-examples:
        Funding Account:
          id: '20200115123456781'
          balance: '0.00'
          currency: EUR
          type: FUNDING
        Payment Account:
          id: '20200115123456789'
          balance: '0.00'
          currency: EUR
          type: PAYMENT
          virtualAccountInfo:
            number: FR1234567890123
            name: VAT Sample Account
            bankName: FR Bank Name
            region: FR
            sortCode: null
            swiftCode: FR Bank SWIFT
            routingNo: null
      properties:
        balance:
          type: string
          description: Account balance in account currency
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})$"
        currency:
          $ref: '#/components/schemas/Account-Currency'
        virtualAccountInfo:
          $ref: '#/components/schemas/Bank-Account-Info'
        type:
          $ref: '#/components/schemas/Account-Type'
        id:
          type: string
          description: Account id in Lianlina Pay system
      required:
        - balance
        - currency
        - type
        - id
      x-tags:
        - Accounts
    CN-ENTITY-KYC:
      title: '| CN ENTITY KYC Object'
      type: object
      description: KYC object for CN companies used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        entityName:
          $ref: '#/components/schemas/Name'
        entityType:
          $ref: '#/components/schemas/Entity-Type'
        registryNumber:
          type: string
          description: Company number
        regCertificateCopy:
          $ref: '#/components/schemas/Document'
        legalRep:
          $ref: '#/components/schemas/CN-Legal-Representative'
        ubos:
          type: array
          description: 'Profile List<UBO> information. '
          maxItems: 4
          minItems: 0
          items:
            $ref: '#/components/schemas/CN-UBO'
      required:
        - entityName
        - entityType
        - registryNumber
        - regCertificateCopy
    CN-Legal-Representative:
      title: '| Legal-Representative Object'
      type: object
      description: |-
        **Legal Representative Object**
        Date set used to describe CN company's legal representative information in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: "Legal representative's ID number"
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: "Legal representative's ID issue date"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: "Legal representative's ID expire date"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        nationality:
          $ref: '#/components/schemas/Region'
        dateOfBirth:
          type: string
          description: "Legal representative's date of birth"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        mobile:
          type: string
          description: "Legal representative's mobile number"
        residentialAddress:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idNumber
        - idFrontImg
        - idBackImg
    CN-UBO:
      title: '| CN UBO Object'
      type: object
      description: "**CN UBO Object**\nData set in Lianlian Pay system to describe the Ultimate Beneficial Owner information of a CN company. \n"
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: UBO id number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: UBO id issue date
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: UBO id expiration date
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        dateOfBirth:
          type: string
          description: "UBO's date of birth"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        residentialAddress:
          $ref: '#/components/schemas/Address'
        shareholdingRatio:
          type: string
          description: UBO share holding ratio
      required:
        - name
        - idNumber
        - idFrontImg
        - idBackImg
    Error:
      title: '| Error Object'
      type: object
      description: Error object defined in Lianlian Pay system.
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
      x-tags:
        - Other
    Bank-Account-Info:
      title: '| Bank Account Info Object'
      type: object
      description: Bank account information details
      x-tags:
        - Accounts
      properties:
        number:
          type: string
          description: Account number
        name:
          type: string
          description: Account name
          maxLength: 128
        bankName:
          type: string
          description: Bank name
          maxLength: 128
        swiftCode:
          type: string
          description: Bank SWIFT code
        region:
          $ref: '#/components/schemas/Bank-Account-Region'
        routingNo:
          type: string
        sortCode:
          type: string
      required:
        - number
        - name
        - region
    Document:
      title: '| Document Object'
      type: object
      description: File object in Lianlian Pay system.
      properties:
        name:
          type: string
          description: Document name
        size:
          type: integer
          description: Document size
        createTime:
          type: string
          description: 'Document create time, UTC timestamp'
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        id:
          type: string
          description: Document id in Lianlian Pay system
      required:
        - name
        - size
        - createTime
      x-tags:
        - Documents
    Event:
      title: '| Event Object'
      type: object
      description: 'Event object generated during business processing in Lianlian Pay system. '
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        type:
          $ref: '#/components/schemas/Event-Type'
        data:
          description: Detailed event description.
          oneOf:
            - $ref: '#/components/schemas/Bill'
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Account'
        createTime:
          type: string
          description: Event created time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        profileId:
          type: string
          description: Profile/merchant id from client system
      required:
        - id
        - type
        - data
        - profileId
      x-tags:
        - Events
    Event-Type:
      type: string
      title: '| Event Type Enumeration'
      description: |
        Lianlian Pay system event types. One of:

        | Type | Description |
        |--------|------------|
        | profile.failed | Profile KYC failed, Lianlian Pay cannot provide service to this profile. Return data `Profile` object. |
        | profile.active | Profile KYC passed, profile active in Lianlian Pay system. Return data `Profile` object.  |
        | profile.error | Profile KYC error, need more information to complete Lianlian Pay KYC. Detailed information can be found in `Profile.feedback`. Return type `Profile` object.  |
        | profile.updated | Profile KYC information updated, such as UBO information added/changed. Return data `Profile` object.  |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. Return data `Bill` object.  |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. Return data `Bill` object. |
        | bill.canceled | After receiving void bill request, Lianlian Pay canceled the bill. Return data `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return data `Bill` object. |
        | account.paymentaccount.created | Payment account created in Lianlian Pay system. Return data `Account` object. |
      x-tags:
        - Events
    Webhook:
      title: '| Webhook Object'
      type: object
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client webhook url
        isEnabled:
          type: boolean
          description: Enable/disable callbacks
        type:
          type: array
          description: Event topics in Lianlian Pay system
          items:
            $ref: '#/components/schemas/Event-Type'
        createTime:
          type: string
          description: Webhook registration time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        modifyTime:
          type: string
          description: Webhook last modified time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
      required:
        - id
        - url
        - isEnabled
        - type
        - createTime
      x-tags:
        - Webhooks
    Profile-Status:
      title: '| Profile Status Enumeration'
      type: string
      description: |-
        Profile status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | UNDER_REVIEW | Profile is currenlty under KYC review|
        | ACTIVE | KYC review complete, profile is active |
        | FAILED | Lianlian Pay cannot provide service to this profile |
        | ERROR | KYC error, need aditional information to complete KYC review |
      x-tags:
        - Profiles
    Profile-Type:
      title: '| Profile Type Enumeration'
      description: |-
        Profile type defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | COMPANY |  A legal entity formed by a group of individuals |
        | INDIVIDUAL | Individual or Sole Trader |
      type: string
      x-tags:
        - Profiles
    Entity-Type:
      title: '| Entity Type Enumeration'
      type: string
      description: "Entity type defined in Lianlian Pay system. \n\nCN Entity types. One of:\n\n| Value | Description |\n|-------|-------------|\n| JOINT_STOCK | Joint Stock Company |\n| SELF_EMPLOYED | Sole Proprietorship |\n| LISTED_ENTERPRISES | Listed Enterprises |\n| LIMTED_COMPANY | Limted Company |\n| PARTNERSHIP | Partnership  |\n\nUS Entity types. One of:\n\n| Value | Description |\n|-------|-------------|\n| SOLE_PROPRIETORSHIP | Sole Proprietorship|\n| SELF_EMPLOYED | L-Corporation |\n| LISTED_ENTERPRISES | S-Corporation |\n| PARTNERSHIP | Partnership |"
      x-tags:
        - Profiles
    ID-Type:
      title: '| ID Type Enumeration'
      type: string
      description: |-
        Supported ID types in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | PASSPORT | Passport |
        | IDCARD | ID Card |
      x-tags:
        - Profiles
    Account-Currency:
      title: '| Account Currency Enumeration'
      type: string
      description: "Supported account currencies in Lianlian Pay system. \n\n**Funding Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |\n| USD | United States dollar |\n\n\n**Payment Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |"
      x-tags:
        - Accounts
    Region:
      title: '| Region Enumeration'
      description: |
        Supported regions in Lianlian Pay system. One of:

        | Region | Description |
        |-------|-------------|
        | CN | China |
        | HK | Hongkong|
        | US | United States |
      type: string
      x-tags:
        - Other
    Account-Type:
      title: '| Account Type Enumeration'
      type: string
      description: |-
        Account types provided in Lianlian Pay system. One of:

        | Type | Description |
        |-------|-------------|
        | FUNDING | Merchant account to keep bill obligations fundings |
        | PAYMENT | Account support direct debit, used for tax authorities of certain region/jurisdiction to pull money from |
      x-tags:
        - Accounts
    Name:
      title: '| Name Object'
      type: object
      description: Name object used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        nameInEnglish:
          type: string
          description: Name in English or Pinyin
        originalName:
          type: string
          description: Original name(Name on ID/Document)
    Bill-Region:
      title: '| Bill Region Enumeration'
      type: string
      description: |-
        Supported bill region/jurisdiction in Lianlian Pay system. One of:

        | Region | Description |
        |--------|-------------|
        | CZ | Czech Republic |
        | DE | Germany |
        | ES | Spain |
        | FR | France |
        | IT | Italy |
        | PO | Poland |
        | UK | United Kindom|
      x-tags:
        - Bills
    Bill-Currency:
      title: '| Bill Currency Enumeration'
      type: string
      description: |-
        Supported bill currencies in Lianlian Pay system. One of:

        | Currency | Description |
        |----------|-------------|
        | EUR | Euro |
      x-tags:
        - Bills
    Bill-Status:
      title: '| Bill Status Enumeration'
      type: string
      description: |-
        Bill status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | INIT | Bill created, waiting for procesing |
        | CANCELED | Bill voided |
        | COMPLETE | Bill complete |
        | EXPIRED | Bill expired |
        | PAYMENT_FAILED | Bill payment failed |
      x-tags:
        - Bills
    Bank-Account-Region:
      title: '| Bank Account Region Enumeration'
      type:
        - object
        - string
      description: "Supported account regions in Lianlian Pay system. \n\n**Payment Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France, supported currency - EUR |\n\n\n**Payee Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| CZ | Czech Republic |\n| DE | Germany |\n| ES | Spain |\n| FR | France |\n| IT | Italy |\n| PO | Poland |\n| UK | United Kindom|"
      x-tags:
        - Accounts
    US-ENTITY-KYC:
      title: '| US-ENTITY-KYC'
      type: object
      description: KYC object for United States companies used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        entityName:
          $ref: '#/components/schemas/Name'
        entityType:
          $ref: '#/components/schemas/Entity-Type'
        EINNumber:
          type: string
          description: EIN Number (Business Tax ID Number)
        regCertificateCopy:
          $ref: '#/components/schemas/Document'
        operatingAddress:
          $ref: '#/components/schemas/Address'
        regAddress:
          $ref: '#/components/schemas/Address'
        legalRep:
          $ref: '#/components/schemas/US-Legal-Representative'
        ubos:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/US-UBO'
      required:
        - entityName
        - entityType
        - EINNumber
        - regCertificateCopy
        - operatingAddress
        - regAddress
        - legalRep
        - ubos
    US-UBO:
      title: '| US-UBO'
      type: object
      description: "**US UBO Object**\nData set in Lianlian Pay system to describe the Ultimate Beneficial Owner information of a US company. "
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        residentialAddress:
          $ref: '#/components/schemas/Address'
        dateOfBirth:
          type: string
          description: "UBO's date of birth"
          format: date
          example: '2000-10-01'
        ssn:
          type: string
          description: Social Security Number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
      required:
        - name
        - residentialAddress
        - dateOfBirth
        - ssn
        - idFrontImg
        - idBackImg
    US-Legal-Representative:
      title: '| US-Legal-Rep'
      type: object
      description: "Date set used to describe US company's legal representative information in Lianlian Pay system."
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        residentialAddress:
          $ref: '#/components/schemas/Address'
        dateOfBirth:
          type: string
          description: "Legal representative's date of birth"
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
        ssn:
          type: string
          description: Social Security Number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        mobile:
          type: string
      required:
        - name
        - residentialAddress
        - dateOfBirth
        - ssn
        - idFrontImg
        - idBackImg
        - mobile
    CN-INDIVIDUAL-KYC:
      title: '| CN-INDIVIDUAL-KYC'
      type: object
      description: KYC object for CN individuals or sole traders used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: Mobile number
        mobile:
          type: string
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: ID issue date
          format: date
          example: '2010-10-01'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: ID expire date
          format: date
          example: '2020-10-01'
          pattern: YYYY-MM-DD
        nationality:
          $ref: '#/components/schemas/Region'
        dateOfBirth:
          type: string
          description: Date of birth
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
        residentialAddress:
          $ref: '#/components/schemas/Address'
        portraitWithIdInHand:
          $ref: '#/components/schemas/Document'
      required:
        - name
        - idNumber
        - mobile
        - idFrontImg
        - idBackImg
    US-INDIVIDUAL-KYC:
      title: '| US-INDIVIDUAL-KYC'
      type: object
      description: KYC object for US individuals or sole traders used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        residentialAddress:
          $ref: '#/components/schemas/Address'
        dateOfBirth:
          type: string
          description: Date of birth
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
        ssn:
          type: string
          description: Social Security Number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        mobile:
          type: string
          description: Mobile number
      required:
        - name
        - residentialAddress
        - dateOfBirth
        - ssn
        - idFrontImg
        - idBackImg
        - mobile
    HK-INDIVIDUAL-KYC:
      title: '| HK-INDIVIDUAL-KYC'
      type: object
      description: "Date set used to describe HK company's legal representative information in Lianlian Pay system."
      x-tags:
        - Profiles
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: ID number
        mobile:
          type: string
          description: Mobile number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: ID issue date
          format: date
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: ID expire date
          format: date
          pattern: YYYY-MM-DD
        residentialAddress:
          $ref: '#/components/schemas/Address'
        dateOfBirth:
          type: string
          description: Date of birth
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
        nationality:
          $ref: '#/components/schemas/Region'
      required:
        - name
        - idNumber
        - idFrontImg
        - residentialAddress
    HK-ENTITY-KYC:
      title: '| HK-ENTITY-KYC'
      type: object
      description: KYC object for HK companies used in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        entityName:
          $ref: '#/components/schemas/Name'
        entityType:
          $ref: '#/components/schemas/Entity-Type'
        ciNumber:
          type: string
          description: Certificate incorporation number
        registryNumber:
          type: string
          description: Registry number
        regCertificateCopy:
          type: string
          description: Copy of business registration certificate
        incorporationCertificateCopy:
          type: string
          description: Copy of certificate of incorporation
        nnc:
          $ref: '#/components/schemas/Document'
        directors:
          type: array
          description: 'List<`HK-Director`>'
          minItems: 1
          items:
            $ref: '#/components/schemas/HK-Director'
        ubos:
          type: string
          description: 'List<`HK-UBO`>'
      required:
        - entityName
        - entityType
        - ciNumber
        - registryNumber
        - regCertificateCopy
        - incorporationCertificateCopy
        - nnc
        - directors
    HK-Director:
      title: '| HK-Director'
      type: object
      x-tags:
        - Profiles
      description: |-
        **Director Object**
        Date set used to describe HK company's director information in Lianlian Pay system.
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: '  '
        mobile:
          type: string
          description: Mobile number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: ID issue date
          format: date
          example: '2010-10-01'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: ID expire date
          format: time
          example: '2020-10-01'
          pattern: YYYY-MM-DD
        nationality:
          $ref: '#/components/schemas/Region'
        dateOfBirth:
          type: string
          description: Date of birth
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
        residentialAddress:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idNumber
        - idFrontImg
    HK-UBO:
      title: '| HK-UBO'
      type: object
      description: "**HK UBO Object**\nData set in Lianlian Pay system to describe the Ultimate Beneficial Owner information of a HK company. "
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          format: date
          example: '2010-10-01'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          format: date
          example: '2020-10-01'
          pattern: YYYY-MM-DD
        dateOfBirth:
          type: string
          format: date
          example: '2000-10-01'
          pattern: YYYY-MM-DD
          description: "UBO's date of birth"
        residentialAddress:
          $ref: '#/components/schemas/Address'
        shareholdingRatio:
          type: string
      required:
        - name
        - idNumber
        - idFrontImg
        - residentialAddress
  securitySchemes: {}
