openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: |
    Document Version 20200302

    Change History

    |Changes| Author| Date |
    |-------|-------|------|
    |LLP PAYMENT APIs v1 | Precy | 2020-03-02|
    |Update Hosts/Event | Precy | 2020-03-09|

    Due to data security policy and requirements of China and United States, PII related Lianlian Pay API(s) are hosted both in China and United States, corresponding PII data will be store and processed within data receiving country, no PII data will be shared between two environments. None PII related API(s) are hosted in China only. Detailed APIs and its hosting environments are:

    ![](https://github.com/wgx-precy/escrow/blob/avalara-payment/assets/images/payment_apis_host.png?raw=true)
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/escrow/v1'
    description: CN/HK Sandbox
  - url: 'https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1'
    description: US Sandbox
  - url: 'https://global-api.lianlianpay.com/escrow/v1'
    description: CN/HK Production
  - url: 'https://global-api-us.lianlianpay.com/escrow/v1'
    description: US Production
paths:
  /webhooks:
    get:
      summary: 2. Get Webhook Registration List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.

        Return type is List<`Webhook`>
      tags:
        - Webhooks
    post:
      summary: 1. Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: Webhook callback url
                topic:
                  description: Webhook event topics.
                  enum:
                    - paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.expired
                    - bill.expired
                    - reconciliation.billReport
                    - reconciliation.fundingAccountBalance
                  type: array
                  uniqueItems: true
                  items:
                    type: string
                name:
                  type: string
                  maxLength: 128
                  description: Webhook registration name
              required:
                - name
                - url
                - topic
      tags:
        - Webhooks
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: 2. Get Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-events-eventId
      description: |-
        Get a Lianlian Pay system generated event details by `eventId`

        Return type is `Event` object
  /events:
    get:
      summary: 1. Get Event List
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total events count
                  list:
                    type: array
                    description: Event data list
                    items:
                      $ref: '#/components/schemas/Event'
                required:
                  - total
                  - list
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events. Empty list will be returned if there is no applicable events.

        Return type is List<`Event`>
      parameters:
        - schema:
            type: array
            enum:
              - account.paymentaccount.created
              - bill.funded
              - bill.paid
              - bill.canceled
              - bill.expired
              - profile.failed
              - profile.active
              - profile.error
              - profile.rar.complete
          in: query
          name: topic
          description: "Event topic defined in Lianlian Pay's system."
        - schema:
            type: integer
            default: 1
          in: query
          name: pageNum
          description: 'If nonzero, skip this number of results before returning data. Used with `pageSize` to provide pagination for large datasets.'
        - schema:
            type: integer
            default: 20
          in: query
          name: pageSize
          description: 'If nonzero, return no more than this number of results. Used with `pageNum` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 20 records'
        - schema:
            type: string
            enum:
              - PROCESSING
              - SUCCESS
              - MAXIMUM_RETRIES_REACHED
            default: MAXIMUM_RETRIES_REACHED
          in: query
          name: status
          description: |-
            Event status defined in Lianlian Pay's system. One of:

            | status | description |
            |--------|-------------|
            | PROCESSING | Event is under processing |
            | SUCCESS | Successfully notified client via webhook. Received `200` HTTP status code return from registered webhook URL. |
            | MAXIMUM_RETRIES_REACHED | Callback stopped as maximum retry number reached without success. |
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: 2. Download Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: byte
                description: Byte streaming
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
      operationId: get-documents-name
      description: "Download document file by `dcoumentId`. \n\n**This method will be hosted in both US and CN**, US profile RAR report should be downloaded via the US endpoint and CN/HK profile RAR report should be downloaded via the CN endpoint.\n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nLianlian Pay deployed hypermedia in APIs to provide additional information. For example, `profile.rar.complete` event contains the profile RAR report download API endpoint.\n\n"
  /documents:
    post:
      summary: 1. Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: "Bad Request\n\nPossible error codes:\n\n| Code | Description |\n|------|-------------|\n| 510002 | Unsupported document type. |\n| 999995 | \\[PARAMETER\\] ERROR_MESSAGE |\n"
        '500':
          description: Internal Server Error
      description: "Upload document to Lianlian Pay system. \n\n**This method will be hosted in both US and CN**, support document(s) for US profiles should be uploaded via US endpoint and supported document(s) for CN/HK profiles should be uploaded via CN endpoint. \n\n| environment | endpoint |\n|-------------|----------|\n| US Sandbox | https://global-api-us-sandbox.lianlianpay-inc.com/escrow/v1 |\n| US Production | https://global-api-us.lianlianpay.com/escrow/v1 |\n| CN Sandbox |https://global-api-sandbox.lianlianpay-inc.com/escrow/v1 |\n| CN Production | https://global-api.lianlianpay.com/escrow/v1 |\n\nLianlian Pay system supported document types are **PDF**, **JPG**, **JPEG** and **PNG**.\n\nReturn type is `Document` object. `Document.id` should be used in other APIs if a support document is required."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name(including extension)
                  maxLength: 128
              required:
                - name
            examples: {}
        description: ''
      tags:
        - Documents
  '/webhook/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: 3. Get Webhook Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      tags:
        - Webhooks
    put:
      summary: 4. Edit Webhook Registration
      operationId: put-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      description: |-
        Edit a webhook registration by `webhookId`, such as turn on/off webhook, update webhook callback url, update registration topics.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  description: Webhook On/Off flag
                url:
                  type: string
                  description: Webhook callback urk
                topic:
                  type: array
                  description: Webhook event topics.
                  enum:
                    - paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.expired
                    - bill.expired
                    - reconciliation.billReport
                    - reconciliation.fundingAccountBalance
                  uniqueItems: true
                  items:
                    type: string
      tags:
        - Webhooks
    delete:
      summary: 5. Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: "Webhook registration id in Lianlian Pay's system"
                  status:
                    type: string
                    description: Webhook registration status
                    enum:
                      - DELETED
                required:
                  - id
                  - status
        '404':
          description: Not Found
      description: Delete a webhook registration by `webhookId`.
      tags:
        - Webhooks
  '/profiles/{profileId}/bills':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Bill
      operationId: post-profiles-profileId-bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique obligation bill id generated by client
                  maxLength: 64
                jurisdiction:
                  type: string
                  description: |-
                    Supported bill jurisdiction in Lianlian Pay system. One of:

                    | Region | Description |
                    |--------|-------------|
                    | FR | France |
                  enum:
                    - FR
                currency:
                  type: string
                  description: |-
                    Supported bill currencies in Lianlian Pay's system. One of:

                    | Currency | Description |
                    |----------|-------------|
                    | EUR | Euro |
                  enum:
                    - EUR
                amount:
                  type: string
                  description: Bill amount
                  format: double
                  example: '123.45'
                  pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
                period:
                  type: string
                  description: Bill period
                dueDate:
                  type: string
                  description: Bill due date
                  format: date
                expireDate:
                  type: string
                  description: Bill expire date
                  format: date
                rfb:
                  type: string
                  maxLength: 105
                  description: Reference for benificiary
                memo:
                  type: string
                  maxLength: 512
                payee:
                  type: object
                  description: Payee bank information
                  properties:
                    number:
                      type: string
                      description: Payee bank account number
                    name:
                      type: string
                      description: Payee bank account name
                      maxLength: 128
                    bankName:
                      type: string
                      description: Payee bank name
                      maxLength: 128
                    routingNo:
                      type: string
                      description: Payee bank branch code/routing number
                    region:
                      type: string
                      description: "Supported account regions in Lianlian Pay system. \n\n**Payee Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France |"
                    swiftCode:
                      type: string
                      description: SWIFT code
              required:
                - id
                - jurisdiction
                - currency
                - amount
                - period
                - dueDate
                - expireDate
                - rfb
                - payee
        description: ''
      description: |-
        Create a single bill obligation for a profile

        Return type is `Bill` object
      tags:
        - Bills
  '/bills/{billId}':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    get:
      summary: 2. Get Bill
      tags:
        - Bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '404':
          description: Not Found
      operationId: get-profiles-profileId-bills-billId
      description: |-
        Get a single bill details by `billId`.

        Return type is List<`Bill`>
    put:
      summary: 3. Approve Bill
      operationId: put-bills-billId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      tags:
        - Bills
      description: |-
        Submit a single bill by `billId`. Lianlian Pay will start process payment to payee account(tax authority account) defined in bill details.

        Return type is `Bill` object
    delete:
      summary: 4. Cancel Bill
      operationId: delete-bills-billId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: "Bill id from Avalara's system"
                  status:
                    type: string
                    description: "Bill status in Lianlian Pay's system."
                    enum:
                      - CANCELED
                required:
                  - id
                  - status
      description: 'Cancel a previously created bill if it has not been submitted by `billId`. Any funded funds will be refunded. '
      tags:
        - Bills
  '/profiles/{profileId}/payments':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Payment Account
      operationId: post-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: "Supported account currencies in Lianlian Pay's system. \n\n**Payment Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |"
                  enum:
                    - EUR
                region:
                  type: string
                  description: "Supported account regions in Lianlian Pay system. \n\n**Payment Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France, supported currency - EUR |"
                  enum:
                    - FR
              required:
                - currency
                - region
        description: ''
      description: |-
        Create a single Lianlian Pay account for a profile

        Return type is `Account` object
      tags:
        - Accounts
  '/accounts/{accountId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    get:
      summary: 2. Get Account
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Not Found
      operationId: get-accounts-accountId
      description: |-
        Get a single Lianlian Pay account details by `accountId`.

        Return type is `Account` object
  '/profiles/{profileId}/funding':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: 3. Get Profile Funding Balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: string
                    description: "Profile's funding account balance"
                  currency:
                    type: string
                    description: |-
                      **Funding Account Currencies**, one of:

                      | Currency | Description |
                      |----------|-------------|
                      | EUR | Euro |
                required:
                  - balance
                  - currency
      operationId: get-profiles-profileId-funding
      description: |-
        Get the funding account balance of a single profile by `profileId`.

        Return type is `Funding` object
      tags:
        - Accounts
components:
  schemas:
    Event:
      title: '| Event Object'
      type: object
      description: 'Event object generated during business processing in Lianlian Pay system. '
      x-tags:
        - Events
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        data:
          description: Event details.
          type: object
          required:
            - objectType
            - objectId
            - title
            - url
          properties:
            objectType:
              type: string
              description: |-
                Object type related to this event. One of:

                | type | description |
                |------|-------------|
                | profile | Profile object defined in Lianlian Pay's system. Get profile details by requesting `Get Profile` API|
                | bill | Bill object defined in Lianlina Pay's system. Get bill details by requesting `Get Bill` API|
                | account | Account object defined in Lianlina Pay's system. Get bill details by requesting `Get Account` API|
                | document | Document stored in Lianlina Pay's system. Get document file by requesting `Download Document` API|
              enum:
                - profile
                - account
                - bill
                - document
            objectId:
              type: string
              description: Id of the object that related in this event
            url:
              type: string
              description: "Event related API endpoint. Can be used to retrive the data object related to this event from Lianlian Pay's system. \n\nHttp method accepted is `GET`, type is `application/json`"
            title:
              type: string
              description: |-
                API that can be used to process this event. One of:

                | title | description|
                |---|----|
                |Download Document(US)| Download files, such as reconciliation report(s), RAR report from Lianlian Pay US system |
                |Download Document(CN)| Download files, such as reconciliation report(s), RAR report from Lianlian Pay CN system |
                |Get Profile(US)| Get profile details from Lianlian Pay US system |
                |Get Profile(CN)| Get profile details from Lianlian Pay CN system |
              enum:
                - Download Document(US)
                - Download Document(CN)
                - Get Profile(US)
                - Get Profile(CN)
        createTime:
          type: string
          description: 'Event created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        topic:
          $ref: '#/components/schemas/Event-Topic'
      required:
        - id
        - data
        - createTime
        - topic
    Event-Topic:
      type: string
      title: '| Event Topic Enumeration'
      description: |
        Lianlian Pay system event types. One of:

        | Topic | Description |
        |--------|------------|
        | paymentaccount.created | Payment account created in Lianlian Pay system. Return data `Account` object. |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. Return data `Bill` object.  |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. Return data `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return data `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return data `Bill` object. |
        | reconciliation.billReport.created | Avalara bill report generated |
        | reconciliation.fundingAccountBalanceReport.created | Customer funding account balance report generated |
      x-tags:
        - Events
    Webhook:
      title: '| Webhook Object'
      type: object
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      x-tags:
        - Webhooks
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client webhook url
        createTime:
          type: string
          description: 'Webhook registration time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        isEnabled:
          type: boolean
          description: Enable/disable callbacks
        modifyTime:
          type: string
          description: 'Webhook last modified time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        type:
          type: array
          description: Event topics in Lianlian Pay system
          items:
            $ref: '#/components/schemas/Event-Topic'
      required:
        - id
        - url
        - isEnabled
        - type
        - createTime
    Document:
      title: '| Document Object'
      type: object
      description: "Document object defined in Lianlian Pay's system. This object can be used to upload files, such as profile photocopies into Lianlian Pay's file system, and can also be used to download RAR and reconciliation reports generated by Lianlian Pay.\n\n<!-- theme: info -->\n>Steps to access RAR and daily reconcilation files:\n>\n>1. Enroll Lianlian Pay Webhook and register `reconciliation.billReport.created`, `reconciliation.fundingAccountBalanceReport.created`, `profile.rar.complete` topics to receive report ready notice. \n>2. After report is ready, Lianlian Pay will send out notice to the registered webhook callback url. Then report can be downloaded by requesting \"Download Document\" API\n> "
      x-tags:
        - Documents
      properties:
        id:
          type: string
          description: Document id in Lianlian Pay system
        name:
          type: string
          description: Document name
        createTime:
          type: string
          description: 'Document create time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - id
        - name
        - createTime
    Bill:
      title: '| Bill Object'
      type: object
      description: "**Bill Object**\nData set of a client customer’s tax obligation description in Lianlian Pay system. "
      x-tags:
        - Bills
      properties:
        id:
          type: string
          description: Bill(obligation) id from client system
          maxLength: 64
        jurisdiction:
          $ref: '#/components/schemas/Bill-Jurisdiction'
        currency:
          type: string
          description: |-
            Supported bill currencies in Lianlian Pay's system. One of:

            | Currency | Description |
            |----------|-------------|
            | EUR | Euro |
          enum:
            - EUR
        amount:
          type: string
          description: bill(obligation) amount
          format: float
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
        period:
          type: string
          description: bill(obligation) period
          example: 2020-01
          pattern: "^((?:19|20)\\d\\d)-(0[1-9]|1[012])"
        dueDate:
          type: string
          description: 'bill(obligation) due date, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        expireDate:
          type: string
          description: 'bill(obligation) expire date, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        payee:
          $ref: '#/components/schemas/Bank-Account-Details'
        createTime:
          type: string
          description: 'Bill created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        fundingTime:
          type: string
          description: 'Bill funded time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        paymentTime:
          type: string
          description: 'Bill payment time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        status:
          $ref: '#/components/schemas/Bill-Status'
        isFunded:
          type: boolean
          description: 'Default false, true if fully funded. Ready to pay if isFullyFunded equals to true.'
        isPaid:
          type: boolean
          description: 'Default false, true if bill submitted and paid to payee.'
        modifyTime:
          type: string
          description: 'Bill last updated time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        rfb:
          type: string
          maxLength: 105
        memo:
          type: string
          maxLength: 512
        feedback:
          type: array
          description: Error information details if applicable
          items:
            $ref: '#/components/schemas/Errors'
      required:
        - id
        - jurisdiction
        - currency
        - amount
        - dueDate
        - expireDate
        - payee
        - status
        - isFunded
        - isPaid
    Account:
      title: '| Account Object'
      type: object
      description: "**Account Object**\nData object to describe an account in Lianlian Pay system. \nAccount such as `Funding Account` and `Payment Account`"
      x-examples:
        Funding Account:
          id: '20200115123456781'
          balance: '0.00'
          currency: EUR
          type: FUNDING
        Payment Account:
          id: '20200115123456789'
          balance: '0.00'
          currency: EUR
          type: PAYMENT
          virtualAccountInfo:
            number: FR1234567890123
            name: VAT Sample Account
            bankName: FR Bank Name
            region: FR
            sortCode: null
            swiftCode: FR Bank SWIFT
            routingNo: null
      x-tags:
        - Accounts
      properties:
        balance:
          type: string
          description: Account balance in account currency
          format: double
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
        currency:
          type: string
          description: "Supported account currencies in Lianlian Pay system. \n\n**Payment Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |"
          enum:
            - EUR
            - USD
        virtualAccountInfo:
          $ref: '#/components/schemas/Bank-Account-Details'
        type:
          type: string
          description: |-
            Account types provided in Lianlian Pay's system. One of:

            | Type | Description |
            |-------|-------------|
            | PAYMENT | Accounts support direct debit, used for tax authorities of certain region/jurisdiction to pull money from |
          enum:
            - PAYMENT
        id:
          type: string
          description: Account id in Lianlina Pay system
      required:
        - balance
        - currency
        - type
        - id
    Bank-Account-Details:
      title: '| Bank Account Details Object'
      type: object
      description: Bank account information details
      x-tags:
        - Accounts
      properties:
        number:
          type: string
          description: Account number
        name:
          type: string
          description: Account name
          maxLength: 128
        bankName:
          type: string
          description: Bank name
          maxLength: 128
        swiftCode:
          type: string
          description: Bank SWIFT code
        region:
          $ref: '#/components/schemas/Bank-Account-Region'
        routingNo:
          type: string
        sortCode:
          type: string
      required:
        - number
        - name
        - region
    Bill-Jurisdiction:
      type: string
      title: '| Bill Jurisdiction Enumeration'
      description: |-
        Supported bill jurisdiction in Lianlian Pay's system. One of:

        | Region | Description |
        |--------|-------------|
        | FR | France |
      enum:
        - CZ
        - DE
        - ES
        - FR
        - IT
        - PO
        - UK
      x-tags:
        - Bills
    Bill-Status:
      type: string
      title: '| Bill Status Enumeration'
      description: |-
        Bill status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | INIT | Bill created, waiting for processing |
        | EXPIRED | Bill expired |
        | FUNDED | Bill funded |
        | CANCELED | Bill canceled|
        | PROCESSING | Bill payment approved, under system processing |
        | PAID | Bill paid to its payee |
        | PAYMENT_FAILED | Bill payment failed |
      enum:
        - INIT
        - CANCELED
        - EXPIRED
        - PAYMENT_FAILED
        - PAID
        - FUNDED
      x-tags:
        - Bills
    Bank-Account-Region:
      type: string
      title: '| Bank Account Region Enumeration'
      description: "Supported account regions in Lianlian Pay system. \n\n**Payment Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France, supported currency - EUR |\n\n\n**Payee Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France |"
      enum:
        - CZ
        - DE
        - ES
        - FR
        - IT
        - PO
        - UK
      x-tags:
        - Accounts
    Errors:
      title: Error Object
      type: object
      description: "Error object defined in Lianlian Pay's system. This object will be returned either in API response body or inside feedback block of a `Bill` object if applicable."
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
        - code
        - message
      x-tags:
        - Errors
  securitySchemes: {}
