openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: ''
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'http://global-api.lianlianpay.com/escrow/v1'
    description: Production
  - description: Sandbox
    url: 'http://global-api-sandbox.lianlianpay.com/escrow/v1'
paths:
  /profiles:
    post:
      summary: Create Profile
      operationId: post-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  type: string
                  description: Merchant id in client system
                countryOfOrigin:
                  $ref: '#/components/schemas/Region'
                type:
                  $ref: '#/components/schemas/Profile-Type'
                emial:
                  type: string
                  format: email
                  description: Merchant email address
                kyc:
                  type:
                    - string
                    - object
                  required:
                    - entityName
                    - entityType
                    - registryNumber
                    - regCertificateCopy
                    - legalRep
                  properties:
                    entityName:
                      $ref: '#/components/schemas/Name'
                    entityType:
                      $ref: '#/components/schemas/Entity-Type'
                    registryNumber:
                      type: string
                      description: Company number
                    regCertificateCopy:
                      type: string
                      description: Company liscens document name
                    legalRep:
                      type: object
                      required:
                        - name
                        - idNumber
                        - idFrontImg
                      properties:
                        name:
                          $ref: '#/components/schemas/Name'
                        idNumber:
                          type: string
                          description: Legal Representative’s id number
                        idFrontImg:
                          type: string
                          description: Legal Representative’s id front document name
                        idBackImg:
                          type: string
                          description: Legal Representative’s id back document name. Optional if id type is passport
              required:
                - profileId
                - countryOfOrigin
                - type
                - emial
                - kyc
        description: ''
      description: |-
        Create an Avalara Fiscal Rep merchant profile in Lianlian Pay system.
        All required supporting document of a profile, such as `regCertificateCopy`, `idFrontImg`, `idBackImg` should be uploaded into Lianlina Pay system before the create profile request.

        Return type is `Profile`
      tags:
        - Methods
  '/profiles/{profileId}':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: Get Profile
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      operationId: get-profiles-profileId
      description: |-
        Get a single profile details by id
        Return type is `Profile`
  '/profiles/{profileId}/bills':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: Create Bill
      operationId: post-profiles-profileId-bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique obligation bill id generated by client
                region:
                  $ref: '#/components/schemas/Bill-Region'
                currency:
                  $ref: '#/components/schemas/Bill-Currency'
                amount:
                  type: string
                  description: Bill amount
                period:
                  type: string
                  description: Bill period
                dueDate:
                  type: string
                  description: Bill due date
                expireDate:
                  type: string
                  description: Bill expire date
                accountNo:
                  type: string
                  description: Payee account number
                accountName:
                  type: string
                  description: Payee account name
                bankName:
                  type: string
                  description: Payee bank name
                routingNo:
                  type: string
                  description: Payee branch code
                swift:
                  type: string
                  description: SWIFT
                rfb:
                  type: string
                memo:
                  type: string
              required:
                - id
                - region
                - currency
                - amount
                - expireDate
                - accountNo
                - accountName
                - bankName
                - routingNo
                - swift
                - rfb
        description: ''
      description: |-
        Create a bill obligation for a profile
        Return type is `Bill`
      tags:
        - Methods
  '/bills/{billId}':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    get:
      summary: Get Bill
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      operationId: get-profiles-profileId-bills-billId
      description: |-
        Get a bill details by its id

        Return type is `List<Bill>`
  '/bills/{billId}/submit':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: Submit Bill
      operationId: put-bills-billId-submit
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      description: "Submit a bill, instruct Lianlian Pay to process its payment. \nAfter a successful submitting, Lianlian Pay will process payment to the bill payee.\n\nReturn type is `Bill`"
      tags:
        - Methods
  '/bills/{billId}/void':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: Void Bill
      operationId: put-bills-billId-void
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      description: |
        Void a unsubmitted bill by bill id.

        Return type is `Bill`
      tags:
        - Methods
  '/profiles/{profileId}/accounts':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: Create Account
      operationId: post-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  $ref: '#/components/schemas/Account-Region'
                currency:
                  $ref: '#/components/schemas/Account-Currency'
                type:
                  $ref: '#/components/schemas/Account-Type'
              required:
                - region
                - currency
                - type
        description: ''
      description: |-
        Create an account for a profile
        Return type is `Account`
      tags:
        - Methods
    get:
      summary: Get Profile Accounts
      operationId: get-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
          description: 'This API returns a list of `Account` object of a profile. If no applicable account exists, empty list will be returned. '
      description: |-
        Get a list of accounts of a profile.
        Return type is `List<Account>`
      parameters:
        - schema:
            type: string
          in: query
          name: type
          description: Account types defined in Lianlina Pay system
      tags:
        - Methods
  '/accounts/{accountId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    get:
      summary: Get Account
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      operationId: get-accounts-accountId
      description: |-
        Get a single account details by its account id.

        Return type is `Account`
  /documents:
    post:
      summary: Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      description: "Upload documents into Lianlian Pay system. \nImage attachments can be of the format PDF, JPEG, or PNG. To upload a multi-page image, please use the PDF data type.\nReturn type is `Document`"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name
                size:
                  type: integer
                  description: Document file size
              required:
                - name
                - size
            examples: {}
        description: ''
      tags:
        - Methods
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: Get Document
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      operationId: get-documents-name
      description: |-
        Get document file by id
        File will be returned
  /webhooks:
    get:
      summary: Get Webhook Registrations
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.
        Return type is `List<Webhook>`
    post:
      summary: Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.
        Return type is `Webhook`
      tags:
        - Methods
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                topic:
                  type: array
                  items:
                    $ref: '#/components/schemas/Event-Topic'
                url:
                  type: string
                isEnabled:
                  type: boolean
              required:
                - name
                - topic
                - url
                - isEnabled
  '/webhook/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: Get Webhook Registration
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by id
        Return type is `Webhook`
    put:
      summary: Edit Webhook Registration
      operationId: put-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Edit a webhook registration, such as turn on/off webhook, update webhook url, update topic registrations.
        Return type is `Webhook`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: boolean
                url:
                  type: string
                topic:
                  type: array
                  items:
                    $ref: '#/components/schemas/Event-Topic'
              required:
                - isEnabled
                - url
                - topic
      tags:
        - Methods
    delete:
      summary: Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
      description: Delete a webhook registration by id.
      tags:
        - Methods
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: Get Event
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
      operationId: get-events-eventId
      description: |-
        Get Lianlian Pay system generated event by id
        Return type is `Event`
  /events:
    get:
      summary: Get Events
      tags:
        - Methods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events
        Return type is `List<Event>`
      parameters:
        - schema:
            type: string
          in: query
          name: profileId
          required: true
          description: Profile/merchant id from client system
        - schema:
            type: array
          in: query
          name: type
          description: Event type defined in Lianlian Pay system.
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: 'If nonzero, skip this number of results before returning data. Used with `limit` to provide pagination for large datasets.'
        - schema:
            type: string
            default: '50'
          in: query
          name: limit
          description: 'If nonzero, return no more than this number of results. Used with `offset` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 50 records'
components:
  schemas:
    Profile:
      title: Profile
      type: object
      description: Profile is a data set of an Avalara customer description in Lianlian Pay system.
      x-tags:
        - Objects
      properties:
        id:
          type: string
          description: Profile/merchant id from client system
        regionOfOrigin:
          $ref: '#/components/schemas/Region-Of-Origin'
        type:
          $ref: '#/components/schemas/Profile-Type'
        kyc:
          $ref: '#/components/schemas/CN-ENTITY-KYC'
        status:
          $ref: '#/components/schemas/Profile-Status'
        feedback:
          $ref: '#/components/schemas/Error'
      required:
        - id
        - regionOfOrigin
        - type
        - kyc
        - status
    Bill:
      title: Bill
      type: object
      description: "Data set of an Avalara customer’s tax obligation description in Lianlian Pay system. \nSuch object helps Avalara to manage merchants’ tax obligation."
      x-tags:
        - Objects
      properties:
        id:
          type: string
          description: Bill(obligation) id from client system
        region:
          $ref: '#/components/schemas/Bill-Region'
        currency:
          $ref: '#/components/schemas/Bill-Currency'
        amount:
          type: string
          description: bill(obligation) amount
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})$"
        period:
          type: string
          description: bill(obligation) period
          example: 2020-01
          pattern: YYYY-MM
        dueDate:
          type: string
          description: bill(obligation) due date
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        expireDate:
          type: string
          description: bill(obligation) expire date
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        payee:
          $ref: '#/components/schemas/Bank-Account-Info'
        createTime:
          type: string
          description: Bill created time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        fundingTime:
          type: string
          description: Bill funded time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
        paymentTime:
          type: string
          description: Bill payment time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        status:
          $ref: '#/components/schemas/Bill-Status'
        isFunded:
          type: boolean
          description: 'Default false, true if fully funded. Ready to pay if isFullyFunded equals to true.'
        isPaid:
          type: boolean
          description: 'Default false, true if bill submitted and paid to payee.'
        modifyTime:
          type: string
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC+0 timestamp
          description: Bill last updated time
      required:
        - id
        - region
        - currency
        - amount
        - expireDate
        - payee
        - status
        - isFunded
        - isPaid
    Address:
      title: Address
      type: object
      description: Address object
      x-tags:
        - Objects
      properties:
        lineOne:
          type: string
          description: Address Line 1
        lineTwo:
          type: string
          description: Address Line 2
        city:
          type: string
          description: City/Town
        province:
          type: string
          description: Province/State
        region:
          $ref: '#/components/schemas/Region'
        postalCode:
          type: string
          description: Postal Code/Zip Code
      required:
        - lineOne
        - city
        - province
        - region
        - postalCode
    Account:
      title: Account
      type: object
      description: 'Data object to describe an account in Lianlian Pay system. '
      x-tags:
        - Objects
      properties:
        balance:
          type: string
          description: Account balance in account currency
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})$"
        currency:
          $ref: '#/components/schemas/Account-Currency'
        bankAccountInfo:
          $ref: '#/components/schemas/Bank-Account-Info'
        type:
          $ref: '#/components/schemas/Account-Type'
        id:
          type: string
          description: Account id in Lianlina Pay system
      required:
        - balance
        - currency
        - type
        - id
    CN-ENTITY-KYC:
      title: CN ENTITY KYC
      type: object
      description: KYC object for Chinese companies used in Lianlian Pay system.
      x-tags:
        - Objects
      properties:
        entityName:
          $ref: '#/components/schemas/Name'
        entityType:
          $ref: '#/components/schemas/Entity-Type'
        registryNumber:
          type: string
          description: Company number
        regCertificateCopy:
          $ref: '#/components/schemas/Document'
        email:
          type: string
          description: Merchant email address
          format: email
          example: abc@xyc.com
        legalRep:
          $ref: '#/components/schemas/Legal-Representative'
        ubo:
          type: array
          description: 'Profile List<UBO> information. '
          maxItems: 4
          minItems: 0
          items:
            $ref: '#/components/schemas/UBO'
      required:
        - entityName
        - entityType
        - registryNumber
        - regCertificateCopy
    Legal-Representative:
      title: Legal-Representative
      type: object
      description: ''
      x-tags:
        - Objects
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: "Legal representative's ID number"
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: "Legal representative's ID issue date"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: "Legal representative's ID expire date"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        nationality:
          $ref: '#/components/schemas/Region-Of-Origin'
        birthday:
          type: string
          description: "Legal representative's birthday"
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        mobile:
          type: string
          description: "Legal representative's mobile number"
        residentialAddress:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idNumber
        - idFrontImg
        - idBackImg
    UBO:
      title: UBO
      type: object
      x-tags:
        - Objects
      description: "Data set in Lianlian Pay system to describe the Ultimate Beneficial Owner information of a company. \n"
      properties:
        name:
          $ref: '#/components/schemas/Name'
        idType:
          $ref: '#/components/schemas/ID-Type'
        idNumber:
          type: string
          description: UBO id number
        idFrontImg:
          $ref: '#/components/schemas/Document'
        idBackImg:
          $ref: '#/components/schemas/Document'
        idIssueDate:
          type: string
          description: UBO id issue date
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        idExpireDate:
          type: string
          description: UBO id expiration date
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        birthday:
          type: string
          description: UBO birthday
          format: date
          example: '2010-01-21'
          pattern: YYYY-MM-DD
        residentialAddress:
          $ref: '#/components/schemas/Address'
        shareholdingRatio:
          type: string
          description: UBO share holding ratio
      required:
        - name
        - idNumber
        - idFrontImg
        - idBackImg
    Error:
      title: Error
      type: object
      x-tags:
        - Objects
      description: Error object defined in Lianlian Pay system.
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    Bank-Account-Info:
      title: Bank Account Info
      type: object
      description: Account details
      x-tags:
        - Objects
      properties:
        number:
          type: string
          description: Account number
        name:
          type: string
          description: Account name
        bankName:
          type: string
          description: Bank name
        swiftCode:
          type: string
          description: Bank SWIFT code
        region:
          $ref: '#/components/schemas/Bank-Account-Region'
        routingNo:
          type: string
      required:
        - number
        - name
        - region
    Document:
      title: Document
      type: object
      description: File object in Lianlian Pay system
      x-tags:
        - Objects
      properties:
        name:
          type: string
          description: Document name
        size:
          type: integer
          description: Document size
        createTime:
          type: string
          description: 'Document create time, UTC timestamp'
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        id:
          type: string
          description: Document id in Lianlian Pay system
      required:
        - name
        - size
        - createTime
    Event:
      title: Event
      type: object
      x-tags:
        - Objects
      description: "Event object generated in Lianlian Pay system. \n\nSuch as profile status change, bill status change, etc."
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        type:
          $ref: '#/components/schemas/Event-Type'
        data:
          description: Detailed event description.
          oneOf:
            - $ref: '#/components/schemas/Bill'
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Account'
        createTime:
          type: string
          description: Event created time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        profileId:
          type: string
          description: Profile/merchant id from client system
      required:
        - id
        - type
        - data
        - profileId
    Event-Type:
      type: string
      title: Event Type
      description: |
        Lianlian Pay system event types. One of:

        | Type | Description |
        |--------|------------|
        | profile.failed| Profile KYC failed, Lianlian Pay cannot provide service to this profile. Return type `Profile` object. |
        | profile.active| Profile KYC passed, profile active in Lianlian Pay system. Return type `Profile` object.  |
        | profile.error | Profile KYC error, need more information to complete Lianlian Pay KYC. Detailed information can be found in `Profile.feedback`. Return type `Profile` object.  |
        | profile.updated| Profile KYC information updated, such as UBO information added/changed. Return type `Profile` object.  |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. Return type `Bill` object.  |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. Return type `Bill` object. |
        | bill.canceled | After receiving void bill request, Lianlian Pay canceled the bill. Return type `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return type `Bill` object. |
        | account.paymentaccount.created| Payment account created in Lianlian Pay system. Return type `Account` object. |
      x-tags:
        - Enumerations
    Webhook:
      title: Webhook
      type: object
      x-tags:
        - Objects
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client webhook url
        isEnabled:
          type: boolean
          description: Enable/disable callbacks
        topics:
          type: array
          description: Event topics in Lianlian Pay system
          items:
            $ref: '#/components/schemas/Event-Type'
        createTime:
          type: string
          description: Webhook registration time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
        modifyTime:
          type: string
          description: Webhook last modified time
          format: date-time
          example: '2019-01-01T00:00:000Z'
          pattern: UTC timestamp
      required:
        - id
        - url
        - isEnabled
        - topics
        - createTime
    Profile-Status:
      title: Profile Status
      type: string
      description: |-
        Profile status in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | UNDER_REVIEW | Profile is currenlty under KYC review|
        | ACTIVE | KYC complete, profile is active |
        | FAILED | Lianlian Pay cannot provide services to this profile |
        | ERROR | KYC error, need aditional information to complete KYC review |
      x-tags:
        - Enumerations
    Profile-Type:
      title: Profile Type
      x-tags:
        - Enumerations
      description: |-
        Profile type enumerations in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | COMPANY |  A legal entity formed by a group of individuals |
        | INDIVIDUAL |  |
      type: string
    Region-Of-Origin:
      title: Region Of Origin
      type: string
      x-tags:
        - Enumerations
      description: |-
        Supported country/region of origin in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | CN | China |
        | US | United States |
    Entity-Type:
      title: Entity Type
      type: string
      x-tags:
        - Enumerations
      description: |-
        Entity type enumerations defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | JOINT_STOCK | Joint Stock Company |
        | SELF_EMPLOYED | Sole Proprietorship |
        | LISTED_ENTERPRISES | Listed Enterprises |
        | LIMTED_COMPANY | Limted Company |
        | PARTNERSHIP | Partnership  |
    ID-Type:
      title: ID Type
      type: string
      x-tags:
        - Enumerations
      description: |-
        Supported ID types in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | PASSPORT |  |
        | IDCARD |  |
    Account-Currency:
      title: Account Currency
      type: string
      x-tags:
        - Enumerations
      description: |-
        Supported account currencies in Lianlian Pay system. One of:

        | Currency | Description |
        |----------|-------------|
        | EUR | Euro |
        | USD | United States dollar |
    Region:
      title: Region
      description: |
        Supported regions in Lianlian Pay system. One of:

        | Region | Description |
        |-------|-------------|
        | CN | China |
        | US | United States |
      type: string
      x-tags:
        - Enumerations
    Account-Type:
      title: Account Type
      type: string
      x-tags:
        - Enumerations
      description: |-
        Account type provided in Lianlian Pay system. One of:

        | Type | Description |
        |-------|-------------|
        | FUNDING | Merchant account to keep bill obligations (reserved)fundings |
        | PAYMENT | Account support direct debit, used for tax authorities of certain region/jurisdiction to pull money from |
    Name:
      title: Name
      type: object
      x-tags:
        - Objects
      properties:
        nameInEnglish:
          type: string
          description: Name in English or western letters
        nameInOrigin:
          type: string
          description: Name in origin or native letters
    Bill-Region:
      title: Bill Region
      type: string
      x-tags:
        - Enumerations
      description: |-
        Supported bill region/jurisdiction in Lianlian Pay system. One of:

        | Region | Description |
        |--------|-------------|
        | CZ | Czech Republic |
        | DE | Germany |
        | ES | Spain |
        | FR | France |
        | IT | Italy |
        | PO | Poland |
        | UK | United Kindom|
    Bill-Currency:
      title: Bill Currency
      type: string
      x-tags:
        - Enumerations
      description: |-
        Supported bill currency in Lianlian Pay system. One of:

        | Currency | Description |
        |----------|-------------|
        | EUR | Euro |
    Bill-Status:
      title: Bill Status
      type: string
      description: |-
        Bill status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | INIT | Bill created, waiting for procesing |
        | CANCELED | Bill voided |
        | COMPLETE | Bill complete |
        | EXPIRED | Bill expired |
        | PAYMENT_FAILED | Bill payment failed |
      x-tags:
        - Enumerations
    Bank-Account-Region:
      title: Bank Account Region
      type:
        - object
        - string
      description: |-
        Supported account regions in Lianlian Pay system

        Payment Bank Account Region

        | Region | Description |
        |--------|-------------|
        | FR | France, supported currency - EUR |


        Payee Bank Account Region

        | Region | Description |
        |--------|-------------|
        | CZ | Czech Republic |
        | DE | Germany |
        | ES | Spain |
        | FR | France |
        | IT | Italy |
        | PO | Poland |
        | UK | United Kindom|
      x-tags:
        - Enumerations
  securitySchemes: {}
