openapi: 3.0.0
info:
  title: escrows
  version: '1.0'
  description: |-
    Document Version 20200212

    Change History

    |Changes| Author| Date |
    |-------|-------|------|
    |LLP KYC APIs proposal| Precy | 2020-02-12|
  contact:
    email: fx_support@lianlianpay.com
    name: Lianlian Pay
    url: 'https://global.lianlianpay.com'
servers:
  - url: 'https://global-api-sandbox.lianlianpay-inc.com/escrow/v1'
    description: Sandbox
  - url: 'https://global-api.lianlianpay.com/escrow/v1'
    description: Production
paths:
  /profiles:
    post:
      summary: 1. Create Profile
      operationId: post-profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Profile data set
              properties:
                profileId:
                  type: string
                  description: Profile id from Avalara
                  maxLength: 32
                countryOfOrigin:
                  type: string
                  description: |-
                    Country of origin, one of:

                    | Value | Country/Region |
                    |-------|-------------|
                    | CN | China |
                    | HK | Hongkong|
                    | US | United States |
                  enum:
                    - CN
                    - HK
                    - US
                type:
                  type: string
                  description: |-
                    Profile type, one of

                    | Value | Description |
                    |-------|-------------|
                    | COMPANY |  Company/Entity |
                    | INDIVIDUAL | Individual/Sole Trader |
                  enum:
                    - COMPANY
                    - INDIVIDUAL
                email:
                  type: string
                  description: Merchant email address
                  format: email
                  example: abc@xyz.com
                mobile:
                  type: string
                  description: Mobile number
                indicator:
                  type: string
                  description: Source system indicator
                  maxLength: 256
                kyc:
                  oneOf:
                    - description: Individual/Sole Trader data set
                      properties:
                        name:
                          type: string
                          description: Name in English
                          maxLength: 128
                        idNumber:
                          type: string
                          description: ID number
                        idFrontCopy:
                          type: string
                          description: "Document name of the ID front page photocopy.\nSupported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        idBackCopy:
                          type: string
                          description: "Document name of the ID back page photocopy.\nSupported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                          maxLength: 128
                        address:
                          type: object
                          description: Residential Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                            lineTwo:
                              type: string
                              description: Address line two
                            city:
                              type: string
                              description: City/Town
                            province:
                              type: string
                              description: Province/State
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                      required:
                        - name
                        - idFrontCopy
                        - address
                    - description: Company data set
                      properties:
                        name:
                          type: string
                          description: Entity name in English
                          maxLength: 128
                        registrationNumber:
                          type: string
                          description: Registry Number/EIN Number
                          maxLength: 64
                        registrationCertificateCopy:
                          type: string
                          description: Document name of business registration certificate photocopy.
                          maxLength: 128
                        registrationCertificateCopyType:
                          type: string
                          enum:
                            - CERTIFICATE_OF_INCORPORATION
                            - TAX_DOCUMENT
                            - EIN_LETTER
                            - ARTICLES_OF_ASSOCIATION
                            - BUSINESS_LICENSE
                            - CERTIFICATE_OF_REGISTRATION
                          description: |-
                            **Company Certificate** type, one of:

                            | Value | Type Name |
                            |------|-------|
                            |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
                            |TAX_DOCUMENT| Tax Document|
                            |EIN_LETTER| EIN Letter|
                            |ARTICLES_OF_ASSOCIATION| Articles of Association |
                            |BUSINESS_LICENSE| Business License |
                            |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
                        address:
                          type: object
                          description: Office/Business Address
                          required:
                            - lineOne
                            - city
                            - province
                            - region
                            - postalCode
                          properties:
                            lineOne:
                              type: string
                              description: Address line one
                            lineTwo:
                              type: string
                              description: Address line two
                            city:
                              type: string
                              description: City/Town
                            province:
                              type: string
                              description: Province/State
                            region:
                              type: string
                              description: Region/Country
                            postalCode:
                              type: string
                              description: Postalcode/Zipcode
                        legalRepresentative:
                          type: object
                          description: Legal representative information
                          required:
                            - name
                            - idFrontCopy
                          properties:
                            name:
                              type: string
                              description: "Legal representative's name in English"
                              maxLength: 128
                            idNumber:
                              type: string
                              description: "Legal representative's ID number"
                            idFrontCopy:
                              type: string
                              description: "Document name of legal representative's ID front page photocopy.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                            idBackCopy:
                              type: string
                              description: "Document name of legal representative's ID back page photocopy.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
                              maxLength: 128
                      required:
                        - name
                        - registrationNumber
                        - registrationCertificateCopy
                        - registrationCertificateCopyType
                        - address
                        - legalRepresentative
                  description: "**KYC Data Object** \n\nChoose one of the below data set:"
                  type: object
              required:
                - profileId
                - countryOfOrigin
                - type
                - email
                - mobile
                - kyc
        description: ''
      description: |-
        Create a merchant profile in Lianlian Pay system.

        All required supporting documents, such as `regCertificateCopy`, `idFrontImg`, `idBackImg`, etc, should be uploaded into Lianlina Pay system via **Upload Document** API before making the **Create Profile** request.

        Return type is `Profile` object
      tags:
        - Profiles
  '/profiles/{profileId}':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    get:
      summary: 2. Get Profile
      tags:
        - Profiles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          description: Not Found
      operationId: get-profiles-profileId
      description: |-
        Get a single profile by `profileId`

        Return type is `Profile` object
  '/profiles/{profileId}/bills':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Bill
      operationId: post-profiles-profileId-bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '404':
          description: Not Found
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique obligation bill id generated by client
                  maxLength: 64
                region:
                  type: string
                  description: Bill region/jurisdiction
                currency:
                  type: string
                  description: Bill currency
                amount:
                  type: string
                  description: Bill amount
                  format: double
                  example: '123.45'
                  pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
                period:
                  type: string
                  description: Bill period
                dueDate:
                  type: string
                  description: Bill due date
                expireDate:
                  type: string
                  description: Bill expire date
                accountNo:
                  type: string
                  description: Payee account number
                accountName:
                  type: string
                  description: Payee account name
                  maxLength: 128
                bankName:
                  type: string
                  description: Payee bank name
                  maxLength: 128
                routingNo:
                  type: string
                  description: Payee branch code
                swift:
                  type: string
                  description: SWIFT
                rfb:
                  type: string
                  maxLength: 105
                  description: Reference for benificiary
                memo:
                  type: string
                  maxLength: 512
              required:
                - id
                - region
                - currency
                - amount
                - period
                - expireDate
                - accountNo
                - accountName
                - bankName
                - routingNo
                - swift
                - rfb
        description: ''
      description: |-
        Create a single bill obligation for a profile

        Return type is `Bill` object
      tags:
        - Bills
  '/bills/{billId}':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    get:
      summary: 2. Get Bill
      tags:
        - Bills
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
        '404':
          description: Not Found
      operationId: get-profiles-profileId-bills-billId
      description: |-
        Get a single bill details by `billId`.

        Return type is List<`Bill`>
  '/profiles/{profileId}/accounts':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    post:
      summary: 1. Create Account
      operationId: post-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Account region
                currency:
                  type: string
                  description: Account currency
                region:
                  type: string
                  description: Account type
              required:
                - currency
                - region
        description: ''
      description: |-
        Create a single Lianlian Pay account for a profile

        Return type is `Account` object
      tags:
        - Accounts
    get:
      summary: 2. Get Account List
      operationId: get-profiles-profileId-accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '404':
          description: Not Found
        '':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
          description: OK
      description: |-
        Get a list of accounts of a profile. If no account has been created, empty list will be returned.

        Return type is List<`Account`>
      parameters:
        - schema:
            type: string
            enum:
              - FUNDING
              - PAYMENT
          in: query
          name: type
          description: Account types defined in Lianlina Pay system
      tags:
        - Accounts
  '/accounts/{accountId}':
    parameters:
      - schema:
          type: string
        name: accountId
        in: path
        required: true
    get:
      summary: 3. Get Account
      tags:
        - Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Not Found
      operationId: get-accounts-accountId
      description: |-
        Get a single Lianlian Pay account details by `accountId`.

        Return type is `Account` object
  /documents:
    post:
      summary: 1. Upload Document
      operationId: post-documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
      description: "Upload document to Lianlian Pay system. \nAttachments can be one of the format PDF, JPEG, or PNG. To upload a multi-page image, please use the PDF data type.\n\nReturn type is `Document` object"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Document name
                  maxLength: 128
                size:
                  type: integer
                  description: Document file size
              required:
                - name
                - size
            examples: {}
        description: ''
      tags:
        - Documents
  '/documents/{documentId}':
    parameters:
      - schema:
          type: string
        name: documentId
        in: path
        required: true
    get:
      summary: 2. Get Document
      tags:
        - Documents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          description: Not Found
      operationId: get-documents-name
      description: |
        Download document file by `dcoumentId`

        Return type is `Document` object
  /webhooks:
    get:
      summary: 2. Get Webhook Registration List
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: get-webhooks
      description: |-
        Get a list of webhook registrations of a client. If no registrations, empty list will be returned.

        Return type is List<`Webhook`>
      tags:
        - Webhooks
    post:
      summary: 1. Register Webhook
      operationId: post-webhooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      description: |-
        Register a webhook in Lianlian Pay system. Registered webhook will be used to send events generated by Lianlian Pay system.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 128
                  description: Webhook registration name
                topic:
                  type: array
                  description: Webhook event topics.
                  enum:
                    - account.paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.canceled
                    - bill.expired
                    - profile.failed
                    - profile.active
                    - profile.error
                    - profile.rar.complete
                  uniqueItems: true
                  items:
                    type: string
                url:
                  type: string
                  description: Webhook callback url
              required:
                - name
                - topic
                - url
      tags:
        - Webhooks
  '/webhook/{webhookId}':
    parameters:
      - schema:
          type: string
        name: webhookId
        in: path
        required: true
    get:
      summary: 3. Get Webhook Registration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      operationId: get-webhook-webhookId
      description: |-
        Get a webhook registration details by `webhookId`.

        Return type is `Webhook` object
      tags:
        - Webhooks
    put:
      summary: 4. Edit Webhook Registration
      operationId: put-webhook-webhookId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '404':
          description: Not Found
      description: |-
        Edit a webhook registration by `webhookId`, such as turn on/off webhook, update webhook callback url, update registration topics.

        Return type is `Webhook` object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isEnabled:
                  type: boolean
                  description: Webhook On/Off flag
                url:
                  type: string
                  description: Webhook callback urk
                topic:
                  type: array
                  description: Webhook event topics.
                  enum:
                    - account.paymentaccount.created
                    - bill.funded
                    - bill.paid
                    - bill.canceled
                    - bill.expired
                    - profile.failed
                    - profile.active
                    - profile.error
                    - profile.rar.complete
                  uniqueItems: true
                  items:
                    type: string
      tags:
        - Webhooks
    delete:
      summary: 5. Delete Webhook Registration
      operationId: delete-webhook-webhookId
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
      description: Delete a webhook registration by `webhookId`.
      tags:
        - Webhooks
  '/events/{eventId}':
    parameters:
      - schema:
          type: string
        name: eventId
        in: path
        required: true
    get:
      summary: 2. Get Event
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          description: Not Found
      operationId: get-events-eventId
      description: |-
        Get a Lianlian Pay system generated event by `eventId`

        Return type is `Event` object
  /events:
    get:
      summary: 1. Get Event List
      tags:
        - Events
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
      operationId: get-events
      description: |-
        Get a list of Lianlian Pay system generated events. If no events, empty list will be returned

        Return type is List<`Event`>
      parameters:
        - schema:
            type: string
          in: query
          name: profileId
          description: Profile Id from client system
        - schema:
            type: array
            enum:
              - account.paymentaccount.created
              - bill.funded
              - bill.paid
              - bill.canceled
              - bill.expired
              - profile.failed
              - profile.active
              - profile.error
              - profile.rar.complete
          in: query
          name: type
          description: Event topic defined in Lianlian Pay system.
        - schema:
            type: string
            default: '0'
          in: query
          name: offset
          description: 'If nonzero, skip this number of results before returning data. Used with `limit` to provide pagination for large datasets.'
        - schema:
            type: string
            default: '50'
          in: query
          name: limit
          description: 'If nonzero, return no more than this number of results. Used with `offset` to provide pagination for large datasets. Unless otherwise specified, the maximum number of records that can be returned from an API call is 50 records'
  '/profiles/{profileId}/approve':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    put:
      summary: 3. Confirm Onboard
      operationId: post-profiles-profileId-approve
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      tags:
        - Profiles
      description: |-
        Onboard a single profile and confirm to provide services by `profileId`. Lianlian Pay registration process begin.

        Return type is `Profile` object
  '/profiles/{profileId}/cancel':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    put:
      summary: 4. Cancel Profile
      operationId: post-profiles-profileId-cancel
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      tags:
        - Profiles
      description: "Cancel a `ACTIVE` status profile by `profileId`. After cancellation, profile KYC periodical validation will be stopped and reserved funding will be returned. \n\nReturn type is `Profile` object."
  '/profiles/{profileId}/reject':
    parameters:
      - schema:
          type: string
        name: profileId
        in: path
        required: true
    put:
      summary: 5. Reject Profile
      operationId: post-profiles-profileId-fail
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
      tags:
        - Profiles
      description: |-
        Reject a single profile by `profileId`. Ongoing KYC process will be stopped and Lianlian Pay registration will not be started.

        Return type is `Profile` object.
  '/bills/{billId}/submit':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: 3. Submit Bill
      operationId: put-bills-billId-submit
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      tags:
        - Bills
      description: |-
        Submit a single bill by `billId`. Lianlian Pay will start process payment to payee account(tax authority account) defined in bill details.

        Return type is `Bill` object
  '/bills/{billId}/void':
    parameters:
      - schema:
          type: string
        name: billId
        in: path
        required: true
    put:
      summary: 4. Cancel Bill
      operationId: put-bills-billId-void
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
      tags:
        - Bills
      description: "Cancel a previously created bill if it has not been submitted by `billId`. Any funded funds will be refunded. \n\nReturn type is `Bill` object"
components:
  schemas:
    Profile:
      title: '| Profile Object'
      type: object
      description: |-
        **Profile Object**
        Data set of a client customer description in Lianlian Pay system.

        <!-- theme: warning -->
        > **`feedback`**
        >
        > feedback is used when there are actions revelent to a profile that client may need to take. Such as profile KYC information updated.
        >
      x-tags:
        - Profiles
      properties:
        id:
          type: string
          description: Profile/merchant id from client system
          minLength: 0
          maxLength: 32
        countryOfOrigin:
          $ref: '#/components/schemas/Region'
        type:
          $ref: '#/components/schemas/Profile-Type'
        status:
          $ref: '#/components/schemas/Profile-Status'
        indicator:
          type: string
          description: Source system
          maxLength: 256
        email:
          type: string
          description: Profile email address
          format: email
          pattern: abc@xyz.com
        mobile:
          type: string
          description: Profile mobile number
        kyc:
          oneOf:
            - $ref: '#/components/schemas/KYC-Individual'
            - $ref: '#/components/schemas/KYC-Company'
          description: '**KYC Object** One of the below:'
        feedback:
          $ref: '#/components/schemas/Error'
      required:
        - id
        - countryOfOrigin
        - type
        - status
        - email
        - mobile
    Bill:
      title: '| Bill Object'
      type: object
      description: "**Bill Object**\nData set of a client customer’s tax obligation description in Lianlian Pay system. "
      x-tags:
        - Bills
      properties:
        id:
          type: string
          description: Bill(obligation) id from client system
          maxLength: 64
        region:
          $ref: '#/components/schemas/Bill-Region'
        currency:
          $ref: '#/components/schemas/Bill-Currency'
        amount:
          type: string
          description: bill(obligation) amount
          format: float
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
        period:
          type: string
          description: bill(obligation) period
          example: 2020-01
          pattern: "^((?:19|20)\\d\\d)-(0[1-9]|1[012])"
        dueDate:
          type: string
          description: 'bill(obligation) due date, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        expireDate:
          type: string
          description: 'bill(obligation) expire date, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        payee:
          $ref: '#/components/schemas/Bank-Account-Info'
        createTime:
          type: string
          description: 'Bill created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        fundingTime:
          type: string
          description: 'Bill funded time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        paymentTime:
          type: string
          description: 'Bill payment time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        status:
          $ref: '#/components/schemas/Bill-Status'
        isFunded:
          type: boolean
          description: 'Default false, true if fully funded. Ready to pay if isFullyFunded equals to true.'
        isPaid:
          type: boolean
          description: 'Default false, true if bill submitted and paid to payee.'
        modifyTime:
          type: string
          description: 'Bill last updated time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        rfb:
          type: string
          maxLength: 105
        memo:
          type: string
          maxLength: 512
      required:
        - id
        - region
        - currency
        - amount
        - expireDate
        - payee
        - status
        - isFunded
        - isPaid
    Address:
      title: '| Address Object'
      type: object
      description: |-
        **Address Object**
        Address data set defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        lineOne:
          type: string
          description: Address Line 1
        lineTwo:
          type: string
          description: Address Line 2
        city:
          type: string
          description: City/Town
        province:
          type: string
          description: Province/State
        region:
          $ref: '#/components/schemas/Region'
        postalCode:
          type: string
          description: Postalcde/Zipcode
      required:
        - lineOne
        - city
        - province
        - region
        - postalCode
    Account:
      title: '| Account Object'
      type: object
      description: "**Account Object**\nData object to describe an account in Lianlian Pay system. \nAccount such as `Funding Account` and `Payment Account`"
      x-examples:
        Funding Account:
          id: '20200115123456781'
          balance: '0.00'
          currency: EUR
          type: FUNDING
        Payment Account:
          id: '20200115123456789'
          balance: '0.00'
          currency: EUR
          type: PAYMENT
          virtualAccountInfo:
            number: FR1234567890123
            name: VAT Sample Account
            bankName: FR Bank Name
            region: FR
            sortCode: null
            swiftCode: FR Bank SWIFT
            routingNo: null
      x-tags:
        - Accounts
      properties:
        balance:
          type: string
          description: Account balance in account currency
          format: double
          example: '123.45'
          pattern: "^(([1-9]{1}\\d*)|(0{1}))(\\.\\d{2})"
        currency:
          $ref: '#/components/schemas/Account-Currency'
        virtualAccountInfo:
          $ref: '#/components/schemas/Bank-Account-Info'
        type:
          $ref: '#/components/schemas/Account-Type'
        id:
          type: string
          description: Account id in Lianlina Pay system
      required:
        - balance
        - currency
        - type
        - id
    Error:
      title: '| Error Object'
      type: object
      description: Error object defined in Lianlian Pay system.
      x-tags:
        - Other
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: 'Error message '
      required:
        - code
        - message
    Bank-Account-Info:
      title: '| Bank Account Info Object'
      type: object
      description: Bank account information details
      x-tags:
        - Accounts
      properties:
        number:
          type: string
          description: Account number
        name:
          type: string
          description: Account name
          maxLength: 128
        bankName:
          type: string
          description: Bank name
          maxLength: 128
        swiftCode:
          type: string
          description: Bank SWIFT code
        region:
          $ref: '#/components/schemas/Bank-Account-Region'
        routingNo:
          type: string
        sortCode:
          type: string
      required:
        - number
        - name
        - region
    Document:
      title: '| Document Object'
      type: object
      description: File object in Lianlian Pay system.
      x-tags:
        - Documents
      properties:
        id:
          type: string
          description: Document id in Lianlian Pay system
        name:
          type: string
          description: Document name
        size:
          type: integer
          description: Document size
        createTime:
          type: string
          description: 'Document create time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - name
        - size
        - createTime
    Event:
      title: '| Event Object'
      type: object
      description: 'Event object generated during business processing in Lianlian Pay system. '
      x-tags:
        - Events
      properties:
        id:
          type: string
          description: Event id in Lianlian Pay system
        type:
          $ref: '#/components/schemas/Event-Topic'
        data:
          description: Detailed event description.
          oneOf:
            - $ref: '#/components/schemas/Bill'
            - $ref: '#/components/schemas/Profile'
            - $ref: '#/components/schemas/Account'
        createTime:
          type: string
          description: 'Event created time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        profileId:
          type: string
          description: Profile/merchant id from client system
      required:
        - id
        - type
        - data
        - profileId
    Event-Topic:
      type: string
      title: '| Event Topic Enumeration'
      description: |
        Lianlian Pay system event types. One of:

        | Topic | Description |
        |--------|------------|
        | account.paymentaccount.created | Payment account created in Lianlian Pay system. Return data `Account` object. |
        | bill.funded | Bill fully funded, `Bill.isFullyFunded` equals `true`. Return data `Bill` object.  |
        | bill.paid | Bill paid, after receiving payment request(Submit Bill), Lianlian Pay made payment to bill payee. `Bill.ispaid` equals `false`. Return data `Bill` object. |
        | bill.canceled | After receiving void bill request, Lianlian Pay canceled the bill. Return data `Bill` object. |
        | bill.expired | No funding or short funding after bill expiration date. Return data `Bill` object. |
        | profile.failed | Profile KYC failed, Lianlian Pay cannot provide service to this profile. Return data `Profile` object. |
        | profile.active | Profile KYC passed, profile active in Lianlian Pay system. Return data `Profile` object.  |
        | profile.error | Profile KYC error, need more information to complete Lianlian Pay KYC. Detailed information can be found in `Profile.feedback`. Return type `Profile` object.  |
        | profile.rar.complete | Profile KYC Risk Assessment Report complete. Return data `Document` object  |
      x-tags:
        - Events
    Webhook:
      title: '| Webhook Object'
      type: object
      description: |-
        Object used in Lianlian Pay system to describe the client registration of event callbacks.

        Lianlian Pay uses this object to identify events which should be pushed back to client's url.
      x-tags:
        - Webhooks
      properties:
        id:
          type: string
          description: Webhook registration id in Lianlian Pay system
        url:
          type: string
          description: Client webhook url
        isEnabled:
          type: boolean
          description: Enable/disable callbacks
        type:
          type: array
          description: Event topics in Lianlian Pay system
          items:
            $ref: '#/components/schemas/Event-Topic'
        createTime:
          type: string
          description: 'Webhook registration time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
        modifyTime:
          type: string
          description: 'Webhook last modified time, UTC+0 timestamp'
          format: date-time
          example: '2019-01-01T00:00:00Z'
      required:
        - id
        - url
        - isEnabled
        - type
        - createTime
    Profile-Status:
      title: '| Profile Status Enumeration'
      type: string
      description: |-
        Profile status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | UNDER_REVIEW | Profile KYC is in progress |
        | ERROR | KYC error, need aditional information to complete KYC review |
        | FAILED | KYC failed, cannot provide service |
        | ACTIVE | KYC complete, waiting for profile to be approved |
        | APPROVED| Profile approved |
        | CANCELED | Profile canceled, service stopped |
      x-tags:
        - Profiles
    Profile-Type:
      title: '| Profile Type Enumeration'
      description: |-
        Profile type defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | COMPANY |  Company/Entity |
        | INDIVIDUAL | Individual/Sole Trader |
      type: string
      x-tags:
        - Profiles
    Account-Currency:
      title: '| Account Currency Enumeration'
      type: string
      description: "Supported account currencies in Lianlian Pay system. \n\n**Funding Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |\n| USD | United States dollar |\n\n\n**Payment Account Currencies**, one of:\n\n| Currency | Description |\n|----------|-------------|\n| EUR | Euro |"
      x-tags:
        - Accounts
    Region:
      title: '| Region Enumeration'
      description: |
        **Region/Country**

        One of:

        | Region | Description |
        |-------|-------------|
        | CN | China |
        | HK | Hongkong|
        | US | United States |
      type: string
      x-tags:
        - Other
    Account-Type:
      title: '| Account Type Enumeration'
      type: string
      description: |-
        Account types provided in Lianlian Pay system. One of:

        | Type | Description |
        |-------|-------------|
        | COLLECTING ||
        | FUNDING | Merchant account to keep bill obligations fundings |
        | PAYMENT | Account support direct debit, used for tax authorities of certain region/jurisdiction to pull money from |
      x-tags:
        - Accounts
    Bill-Region:
      type: string
      title: '| Bill Region Enumeration'
      description: |-
        Supported bill region/jurisdiction in Lianlian Pay system. One of:

        | Region | Description |
        |--------|-------------|
        | CZ | Czech Republic |
        | DE | Germany |
        | ES | Spain |
        | FR | France |
        | IT | Italy |
        | PO | Poland |
        | UK | United Kindom|
      enum:
        - CZ
        - DE
        - ES
        - FR
        - IT
        - PO
        - UK
      x-tags:
        - Bills
    Bill-Currency:
      type: string
      title: '| Bill Currency Enumeration'
      description: |-
        Supported bill currencies in Lianlian Pay system. One of:

        | Currency | Description |
        |----------|-------------|
        | EUR | Euro |
      enum:
        - EUR
        - PLN
        - GBP
      x-tags:
        - Bills
    Bill-Status:
      type: string
      title: '| Bill Status Enumeration'
      description: |-
        Bill status defined in Lianlian Pay system. One of:

        | Value | Description |
        |-------|-------------|
        | INIT | Bill created, waiting for procesing |
        | CANCELED | Bill voided |
        | COMPLETE | Bill complete |
        | EXPIRED | Bill expired |
        | PAYMENT_FAILED | Bill payment failed |
      enum:
        - INIT
        - CANCELED
        - COMPLETE
        - EXPIRED
        - PAYMENT_FAILED
      x-tags:
        - Bills
    Bank-Account-Region:
      type: string
      title: '| Bank Account Region Enumeration'
      description: "Supported account regions in Lianlian Pay system. \n\n**Payment Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| FR | France, supported currency - EUR |\n\n\n**Payee Bank Account Regions**, one of:\n\n| Region | Description |\n|--------|-------------|\n| CZ | Czech Republic |\n| DE | Germany |\n| ES | Spain |\n| FR | France |\n| IT | Italy |\n| PO | Poland |\n| UK | United Kindom|"
      enum:
        - CZ
        - DE
        - ES
        - FR
        - IT
        - PO
        - UK
      x-tags:
        - Accounts
    KYC-Individual:
      title: '| KYC-Individual Object'
      type: object
      description: |
        **KYC-Individual Object**
        Data set of Individual KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Name in English
        idNumber:
          type: string
          description: ID number
        idFrontCopy:
          type: string
          description: "The photocopy document name of the ID front page. Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        idBackCopy:
          type: string
          description: "The photocopy document name of the ID back page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        address:
          $ref: '#/components/schemas/Address'
      required:
        - name
        - idFrontCopy
        - address
    KYC-Company:
      title: '| KYC-Company Object'
      type: object
      description: |
        **KYC-Company Object**
        Data set of Company KYC basic information description in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: Entity Name in English
        registrationNumber:
          type: string
          description: Registry Number/EIN Number
        registrationCertificateCopy:
          type: string
          description: The photocopy document name of business registration certificate
        registrationCertificateCopyType:
          $ref: '#/components/schemas/Certificate-Document-Type'
        address:
          $ref: '#/components/schemas/Address'
        legalRepresentative:
          $ref: '#/components/schemas/Legal-Representative'
      required:
        - name
        - registrationNumber
        - registrationCertificateCopy
        - registrationCertificateCopyType
        - address
        - legalRepresentative
    Legal-Representative:
      title: '| Legal-Representative Object'
      type: object
      description: |
        **Legal-Representative Object**
        Data set of Legal-Representative in Lianlian Pay system.
      x-tags:
        - Profiles
      properties:
        name:
          type: string
          description: "Legal representative's name in English"
        idNumber:
          type: string
          description: "Legal representative's ID number"
        idFrontCopy:
          type: string
          description: "The photocopy document name of legal representative's ID front page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
        idBackCopy:
          type: string
          description: "The photocopy document name of legal representative's ID back page.Supported ID types:\n\nCN \n\n| Value | Description |\n|-------|-------------|\n| IDCARD | National ID Card |\n\nHK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| IDCARD | ID Card |\n\nUS, HK\n\n| Value | Description |\n|-------|-------------|\n| PASSPORT | Passport |\n| DRIVERS_LICENSE | Drivers License |"
      required:
        - name
        - idFrontCopy
    Certificate-Document-Type:
      type: string
      title: '| Certificate Document Type Enumeration'
      description: |-
        Supported **Company Certificate** type, one of:

        | Code | Value |
        |------|-------|
        |CERTIFICATE_OF_INCORPORATION| Certificate of Incorporation|
        |TAX_DOCUMENT| Tax Document|
        |EIN_LETTER| EIN Letter|
        |ARTICLES_OF_ASSOCIATION| Articles of Association |
        |BUSINESS_LICENSE| Business License |
        |CERTIFICATE_OF_REGISTRATION| Certificate of Registration |
      enum:
        - CERTIFICATE_OF_INCORPORATION
        - TAX_DOCUMENT
        - EIN_LETTER
        - ARTICLES_OF_ASSOCIATION
        - BUSINESS_LICENSE
        - CERTIFICATE_OF_REGISTRATION
      x-tags:
        - Profiles
  securitySchemes: {}
